[2020-07-03 18:30] ipolevoy commented on #1033
@Typografikon this looks great ! Would you like to contribute a page to the  documentation site:
https://javalite.io/ ?

[2020-07-03 19:12] ipolevoy commented on #1032
@Typografikon can you explain the life-cycle of such a connection? Lets say you get a  connection, you pass it to the tool, the:

* In what thread are are you going to be using this  tool, in a standard request thread?
* How are you going to close that connection?

You write:

This  is correct, but why not use a DBConnectionFilter? It is designed specifically to open/close connections for controll

[2020-07-16 17:08] jasonsychau commented on #844
How is progress on this? I want to contribute if I may. - thank you.

[2020-07-16 17:43] ipolevoy commented on #844
@jasonsychau looks like I dropped the ball on this. @cschabl  and I  need to  resume the collaboration. I'm currently have been working on a massive new feature for ActiveWeb: https://github.com/javalite/javalite/wiki/HTTP-Request-Conversion-and-Validation-Specification. Once that is complete, I will turn my attention to this.

[2020-07-17 06:02] jasonsychau commented on #844
I have my ideas for
[code]
What is your plan to implement this feature?

[2020-07-17 16:18] ipolevoy commented on #844
@jasonsychau I think @cschabl  found some issues with  this approach, please see https://github.com/javalite/javalite/issues/844#issuecomment-514551499 above

[2020-07-17 16:46] jasonsychau commented on #844
I need to review it, but it is solved by matching the class in the first argument. Thus, you can order by either association if you have the class.

[2020-07-18 05:36] ipolevoy commented on #844
@jasonsychau  great, additionally please:

1. Write a test
2. Fix the commit message

I will add documentation to the site  based  on the test  code

[2020-07-22 13:02] mppfiles opened #1035 "Using init params in filters"
With plain Java Servlets, it's possible to define servlet filters with external params, both in [declarative](https://docs.oracle.com/cd/A97329_03/web.902/a95878/filters.htm) (look for "example 2") and [programmatic](https://docs.oracle.com/cd/E19798-01/821-1841/bnagc/index.html) way. This increases reusability of filter classes.
I'm wondering if something similar is possible with ActiveWeb filter

[2020-07-22 18:35] ipolevoy commented on #1035
@mppfiles since you would write a filter yourself,  you can pass any parameters to its constructor. Here is an example https://github.com/javalite/javalite/blob/master/activeweb/src/main/java/org/javalite/activeweb/controller_filters/DBConnectionFilter.java#L70

for instance, you would  configure such a filter like  this:

[code]

The code  is from a   real production app and shows that you can ho

[2020-07-22 18:59] mppfiles commented on #1035
This is great, should be documented!

[2020-07-22 20:34] ipolevoy commented on #1035
I thought this is clear since a developer using the framework would be writing and initializing the filters. I guess what is clear to us, might not be  clear to an end user. We will document this. I'm closing this issue, but you can continue commenting if you have further questions.

[2020-07-22 20:34] #1035 closed

[2020-07-22 20:38] ipolevoy commented on #1035
one other note, you can use AppConfig  to initialize filters differently depending on environment (development, production, etc.)

[code]

For more info: https://javalite.io/app-config

In any case, this is just code, no magic...

[2020-07-24 20:57] ipolevoy opened #1036 "Migrator breaks on URL parsing"
Example in database.properties:

[code]

The exception is:

[code]

[2020-07-24 20:57] ipolevoy commented on #1036
Removing `&serverTimezone=America/Chicago` from the URL fixes the issue.

[2020-08-05 14:30] alniks opened #1037 "activeEnv is null in AppConfig if no system props are set"
see org.javalite.app_config.AppConfig  static initializer:

activeEnv should be set in the first if clause

[2020-08-05 18:12] #1037 closed

[2020-08-06 19:15] ipolevoy opened #1038 "EnvironmentSpec is failing if a local Maven repo is deleted"
While the AppConfig module does not have a dependency on ActiveJDBC, but the test projects under it do, and they break if they cannot find ActiveJDBC dependency.

[2020-08-06 22:54] #1038 closed

[2020-08-07 06:45] alniks opened #1039 "Inherited methods stopped to work for AbstractLesscController"
In hour app we have a BootstrapController which extends AbstractLesscController and overrides getLessFile and getLesscArguments arguments. However when the request comes to it I observe the following in the logs:

[2020-08-07 21:05] ipolevoy opened #1040 "Implement automatic generation of Open API / Swagger documentation from JavaDoc comments in controllers"
the idea is to develop  the OpenAPI documentation directly in the controller Java files as JavaDoc, but then generate the OpenAPI - compatible format to expose as real documentation. This way, the JavaDoc will also serve and an official API documentation.

Also, it makes  sense to carve out blocks  of JavaDoc  for   this, such that if any content is outside such a block,  it will not be part of th

[2020-08-07 21:06] ipolevoy commented on #1040
Interesting  resources:

https://developer.ibm.com/technologies/api/blogs/document-apis-with-open-source-openapi-comment-parser/

[2020-08-07 22:19] #1021 closed

[2020-08-07 22:20] ipolevoy commented on #1021
implementation is done, working on the corresponding documentation

[2020-08-10 19:01] ipolevoy commented on #1033
closing this.

[2020-08-10 19:01] #1033 closed

[2020-08-10 19:28] #1039 closed

[2020-08-12 20:37] ipolevoy commented on #1021
@mppfiles  and @doctorrokter  I believe this is fully complete. A full documentation can be found here:
https://javalite.io/validations
https://javalite.io/processing_web_requests_dynamic_parameters
https://javalite.io/processing_web_requests_implicit_conversion
https://javalite.io/processing_web_requests_with_validation

feel free to read and test-drive. Let me know any feedback, and thank you fo

[2020-08-13 16:38] mppfiles opened #1041 "Reusing helper methods in controllers and filters (like HttpSupport class does)"
As stated in an [old issue](https://github.com/javalite/activeweb/issues/434) but in a more general way, I am looking for options to share some utility methods in filters and controllers, since clearly it's not a good practice to duplicate methods in both classes.

It seems like [Dependency Injection](https://javalite.io/dependency_injection) is the way to go, although a bit overkill for this simp

[2020-08-13 16:42] ipolevoy commented on #1041
@mppfiles can you please provide more info on what kind of utility  class methods you want to reuse?

[2020-08-13 17:18] mppfiles commented on #1041
a simple but common case is to encapsulate access to session objects in controllers and filters, to make some DSL'ish api:

[code]

some other examples (somewhat silly, but you get the point):
[code]

[2020-08-17 14:32] ipolevoy commented on #1041
@mppfiles this has come into view a couple of times before.  You are correct assessing that  there is no convenient way of building helpers that may respond to a request and yet are usable  in controllers and filters alike. The one solutions  to this would  be augmenting the HttpSupport  class. If you look  closely,  this class is a facade to as class [RequestContext](https://github.com/javalite/j

[2020-08-18 17:07] mppfiles commented on #1041
Agreed, it will look odd. And I prefer not to mess with the TL's.

I'm currently doing something like this, it works so far:

[code]

This is really simple and almost clean. But, although DI is a little overkill, at least I can inject the helper instance just once...
Still testing which one is best.

[2020-08-18 18:14] ipolevoy commented on #1041
if this is all you want, why  not create a super controller?  We do this all the time. The trick is to reuse the  same function in controllers and filters

[2020-08-18 18:21] mppfiles commented on #1041
I already use a `BaseController`... as well as a BaseFilter... :smile:
The trick is to share code between them!

[2020-08-18 18:46] ipolevoy commented on #1041
for session objects,  you are replacing one line of code with three:

[code]

 for  common code to respond from controllers and filters, I see your  point. I wonder if we can cook something up with default methods in the interfaces: https://docs.oracle.com/javase/tutorial/java/IandI/defaultmethods.html

What could really be useful is Ruby modules, lol: http://ruby-for-beginners.rubymonstas.org/adv

[2020-08-19 02:15] ipolevoy opened #1043 "Implement support for Cassandra in DB-Migrator plugin"

[2020-08-19 02:51] ipolevoy opened #1044 "Async: Add support for scheduled delivery time."

[2020-08-19 04:20] #1044 closed

[2020-08-19 14:12] alniks opened #1045 "RequestAccess in java8 branch is not setting session value"
https://github.com/javalite/javalite/blob/4435111641fe37fb6d27545a71cfb5e00a26955c/activeweb/src/main/java/org/javalite/activeweb/RequestAccess.java#L627

[2020-08-19 18:53] ipolevoy commented on #1045
the issue was on both branches, fixed now

[2020-08-19 18:53] #1045 closed

[2020-08-28 15:29] mppfiles opened #1046 "[ActiveWeb] Show some message on 405 errors"
When developing controllers, it's very common to make some mistakes in the HTTP method used (ex. using a POST against a controller method without the `@POST` annotation). Right now we just get a blank screen, and a discrete message in the error logs. Returning some simple, meaningful message (like 404 errors do) would improve the developer experience, especially for newcomers.

Currently, the code

[2020-08-28 15:39] ipolevoy commented on #1046
the general reason for this is that the less information  you provide to potential hackers, the better. If you are hacker and the system gives you meaningful messages, it will make  you happy. In case a method is not supported, you get a message in the log. I think this is a valid  behavior.

[2020-08-28 15:45] mppfiles commented on #1046
I'm not talking about giving extra information. Just a "405 - Method not allowed" is enough. Any client would get that info from the response code, I suppose.

[2020-08-28 15:47] ipolevoy commented on #1046
I think we can add  this,  you have a point

[2020-08-28 15:47] ipolevoy commented on #1046
Care to send a pull request?

[2020-08-28 15:48] mppfiles commented on #1046
Sure, just wanted to agree first :+1:

[2020-08-28 15:54] mppfiles commented on #1046
Please don't forget to backport this to the java8 snapshot!

[2020-09-01 16:46] ipolevoy commented on #1043
Implementation is complete. Need to write documentation

[2020-09-02 14:38] #1046 closed

[2020-09-15 16:00] yanchevsky opened #1049 "DB Migrator caches Cassandra driver if multiple executions are used (Java 13)"
Working well with Java 8.
Breaks on Java 13.

[code]

[code]

[2020-09-16 22:36] ipolevoy commented on #1049
@yanchevsky this is fixed now

[2020-09-16 22:36] #1049 closed

[2020-09-23 20:17] ipolevoy opened #1050 "Context is not printed when RequestDispatcher logs "executing controller""
Example:

[code]

The filter that sets values on the context looks like this:

[code]

Apparently the RequestDispatcher prints "executing controller" before executing any filters. Shall  this log statement move to ControllerRunner just after all the filters?

[2020-09-23 21:06] ipolevoy opened #1051 "Get rid of generics warning in AppControllerConfig"
![image](https://user-images.githubusercontent.com/500941/94069761-bd4c7080-fdb6-11ea-9584-96807cdcaf1a.png)

[2020-09-23 21:14] ipolevoy commented on #1043
Oops, write documentation!

[2020-09-25 14:37] ipolevoy opened #1052 "Print ASCII banner when ActiveWeb starts"
[ascii-art6.txt](https://github.com/javalite/javalite/files/5283418/ascii-art6.txt)

[2020-10-06 14:56] #1043 closed

[2020-10-06 20:21] ipolevoy commented on #1021
@mppfiles and @doctorrokter have you tried this yet?

[2020-10-07 15:05] doctorrokter commented on #1021
@ipolevoy tried, but in some places it doesn't work for me. Will explain by examples. I have such code:
[code]

Many actions requires user verification (code via SMS). The **NeedVerification** annotation tells that current method protected. There is a filter called **VerificationFilter** which cares about all verification stuff: check is code exists in the request body, if no - triggers service fo

[2020-10-07 15:41] ipolevoy commented on #1021
@doctorrokter let me  understand, you read the JSON document posted to controller in the filter. That empties the  stream for the controller, is this accurate?

[2020-10-07 15:55] doctorrokter commented on #1021
@ipolevoy yes! you are absolutely right.

[2020-10-08 01:57] ipolevoy commented on #1021
@doctorrokter this is a legitimate concern. I will have it marinate in my head for a while

[2020-10-08 18:11] ipolevoy opened #1054 "Upgrade versions of dependencies"

[2020-10-09 08:37] kidharbachan opened #1055 "Table not found although metadata successfully fetched"
I am currently using activejdbc-2.2 in a JBoss 6.4.5 AS in a 2 server domain. Both servers are connecting to the same datasource and we have verified that the table does exist in the db and the user is the owner of the database.

Server 1 works as expected.
Server 2 fails to find a table that was successfully registered at startup - it ALWAYS fails.
I have pasted the relevant log lines below as we

[2020-10-09 17:28] ipolevoy commented on #1055
@kidharbachan it is hard to tell why looking at your logs. However, I think the reason is probably  that your servers might use connections to the DB with different permissions - one can pull metadata, one cannot. Can you provide all log statements related
to ActiveJDBC  for both servers?

Also, by default you are using Runtime Discovery feature, the one that queries the database  for the structur

[2020-10-09 19:25] ipolevoy commented on #1021
@doctorrokter it is generally not advised to develop a design where a filter reads a posted content. The Servlet architecture and for that matter any other web technology will not cache a streamed content, since its size is technically unlimited. If you want to do some conditional processing in a filter, best to operate on  HTTP headers, and let controllers process the streamed content.

[2020-10-09 19:43] MarkAMartin commented on #1054
Hi Igor.  Thanks for this issue.  It seems that dom4j is only referenced (in the javalite-common package  - my concern here) in ./javalite-common/src/main/java/org/javalite/test/XPathHelper.java and
./javalite-common/pom.xml - would it be possible to just remove the dependency in the next version?

[2020-10-09 20:15] ipolevoy commented on #1054
@MarkAMartin I was thinking the same, actually. I will explore that. In any case, if you are not using this API, you can always exclude it

[2020-10-12 06:22] kidharbachan commented on #1055
@ipolevoy I have confirmed that the user and permissions are exactly the same between working and non-working cases.
We are using the default Runtime Discovery and not the Static Discovery.

I have attached the working and non-working cases log files.
[activejdbc.logs.working.zip](https://github.com/javalite/javalite/files/5363269/activejdbc.logs.working.zip)
[activejdbc.logs.broken.zip](https://g

[2020-10-12 07:03] ipolevoy commented on #1055
@kidharbachan this:

[code]

is telling me that  in the same process, you have metadata discovery happening  in multiple threads at the same time. This is  might  cause some race conditions. Please, try changing code  to run a simple SQL before you start multithreaded processes, as this will  ensure  that the discovery will not be trampling each other.

If  you do not want to  change any code, I s

[2020-10-12 07:35] kidharbachan commented on #1055
Thank you for your input @ipolevoy
We will attempt the suggestions above

[2020-10-12 07:35] #1055 closed

[2020-10-12 13:59] ipolevoy commented on #1055
@kidharbachan did you resolve  your prod issue?

[2020-10-12 14:22] kidharbachan commented on #1055
@ipolevoy We are still checking howto make only one call to init function. We will let you know if that resolves the issue.

[2020-10-14 05:32] ipolevoy commented on #1054
@MarkAMartin I pushed a new snapshot with updated dependencies. Simply removing the  `XPathHelper` is not wise, can break people's projects. If it is causing some conflicts and you are not using `XPathHelper`, you  can just exclude  `dom4j` from your classpath

[2020-10-21 17:35] kidharbachan commented on #1055
@ipolevoy we found that the table was being created twice in the code. Removing the duplicate resolved the issue.
Thank you for your responses and support.

[2020-10-22 08:56] kidharbachan commented on #1055
@ipolevoy I may have confused you. It was defined like this in the code in 2 classes.
class 1 @table("tableX"), class 2 @table("tableX")

[2020-10-22 16:01] ipolevoy commented on #1055
Ah, got it. Glad you sorted things out!

[2020-10-23 19:11] #1054 closed

[2020-10-23 19:12] ipolevoy commented on #1054
@MarkAMartin the 3.0-SNAPSHOT pushed to a repo, so you can play with Java11 if you like

[2020-10-24 12:48] MarkAMartin commented on #1054
Thanks @ipolevoy!

[2020-10-28 17:46] ipolevoy commented on #1040
this is somewhat related: https://github.com/OpenAPITools/openapi-generator - generates server stubs based on OpenAPI spec.

However, the first support is to generate API docs from comments in  code

[2020-10-28 18:17] ipolevoy commented on #1040
also, see this: https://github.com/javaparser/javaparser/issues/325

[2020-10-28 19:16] ipolevoy commented on #1040
Here is another good resource: https://github.com/readmeio/swagger-inline

[2020-10-28 19:17] ipolevoy commented on #1040
It makes sense to make it possible to:

1. generate json definitions at build time
2. Generate definitions at run time using a special controller

[2020-10-28 19:18] ipolevoy commented on #1040
For the option 2, need to compile with javadoc though

[2020-10-28 19:19] ipolevoy commented on #1040
Maybe generate defs at run time and serve that live?

[2020-10-30 15:00] ipolevoy opened #1058 "Google Guice masks startup exception with its own"
this seems to be a fine thing, since the exception will be caught by the container, and will display somewhere.
However, this means  that we are relying  on container logging logic. Best we do it in the framework .

[2020-11-04 20:33] ipolevoy commented on #1058
the real reason is that after upgrade  to Google Guice v 4.2.3, Guice is hiding a real exception because it breaks when its own exception is being logged. Basically, when there is a problem initializing a module, Guice  throws anm instance of CreationException. HOWEVER, when you try to log  this exception, it itself is causing an additional exception:

[code]

The workaround is to get a cause of

[2020-11-04 20:53] #1058 closed

[2020-11-12 22:07] ipolevoy opened #1059 "Misleading log statement in case controller class is abstract"
![Selection_999(483)](https://user-images.githubusercontent.com/500941/99001848-2754dc80-2501-11eb-8c9f-afd33fb0b6f7.png)

[2020-11-12 22:08] ipolevoy commented on #1059
![Selection_999(483)](https://user-images.githubusercontent.com/500941/99001902-3a67ac80-2501-11eb-82c8-42f46aedd153.png)

[2020-11-16 07:53] xperjon opened #1060 "Support for parallell maven builds"
I'm using maven and wanted to try out the parallel build support to see if I could reduce build time in our project.
I got the following waning after entering: mvn -T C1 clean install.

[WARNING] *****************************************************************
[WARNING] * Your build is requesting parallel execution, but project      *
[WARNING] * contains the following plugin(s) that have goals n

[2020-11-16 16:21] ipolevoy commented on #1060
@xperjon the plugin is not thread safe and it should not be. It manipulates byte code of model classes, and this is best not done by two different processes in parallel :)
 You might want to pull the instrumentation into a separate build, ruin that before your other parallel builds. Can  you pls  provide more context as   far as why you need this?

[2020-11-23 21:36] ipolevoy opened #1061 "New CI environment issues"
This issue is for code changes for the new CI environment

[2020-11-25 10:36] xperjon commented on #1060
@ipolevoy  Thanks for the response!
My project currently contains 7 maven modules which all executes unit tests during build. I discovered that Maven 3 had the ability to execute builds in parallel (according to: [here](https://cwiki.apache.org/confluence/display/MAVEN/Parallel+builds+in+Maven+3)) and just wanted to try that feature out to see if I could reduce build time.

[2020-11-25 14:33] ipolevoy commented on #1060
@xperjon , the instrumentation takes just 3 seconds for a project with 120 models (fast).  I think you can go forward ignoring this warning, as long as instrumentation is performed once in your build.

[2020-12-23 14:23] alniks opened #1062 "Local Datacenter "datacenter1" is hardcoded in migrator's Cassandra JDBC driver"
Generally this should be read from application.conf file:

`basic.load-balancing-policy {
      local-datacenter = "datacenter"
 }`

Hardcoded datacenter overrides information from the .conf file

[2020-12-24 19:10] ipolevoy commented on #1062
Note that this Cassandra documentation page: https://docs.datastax.com/en/cql-oss/3.3/cql/cql_reference/cqlCreateKeyspace.html states  this:

     Note: datacenter1 is the default data center name

So, the correct default configuration is:

    basic.load-balancing-policy { local-datacenter = "datacenter1" }

seems like a magic word!

[2020-12-24 19:16] ipolevoy commented on #1062
TODO: cherry-pick to master after this is complete: https://github.com/javalite/javalite/issues/1061

[2020-12-24 22:39] ipolevoy commented on #1062
@alniks the Java8 snapshot has been deployed

[2020-12-29 10:35] alniks commented on #1062
We are still getting errors due to "datacenter1":

Though our .conf file contains:

`basic.load-balancing-policy {
      local-datacenter = "us-east-2"
    }`

[2020-12-29 10:42] alniks commented on #1062
Current sonatype snapshot's timestamp is 20200916.222515

https://oss.sonatype.org/content/repositories/snapshots/org/javalite/db-migrator-maven-plugin/2.3.3-j8-SNAPSHOT/maven-metadata.xml

[2020-12-29 14:30] alniks opened #1064 "AWS Keyspaces do not support COUNT"
It's used internally by migrator to check if the version table exists:

[code]

in case of AWS Keyspaces the above method will always return false and migrator will try to create version table, which will lead to an exception.

One option is to use [ IF NOT EXISTS ] clause for Cassandra DB and do not check existence of the table:

CREATE TABLE [ IF NOT EXISTS ] table_name

[2020-12-29 17:47] ipolevoy commented on #1062
@alniks  you should be looking at the version https://oss.sonatype.org/content/repositories/snapshots/org/javalite/db-migrator-maven-plugin/2.5-j8-SNAPSHOT/

[2020-12-29 18:02] #1062 closed

[2020-12-29 19:05] ipolevoy commented on #1064
TODO: cherry-pick to  master after verification that this is resolving the Keyspaces issue.

[2020-12-29 23:29] ipolevoy opened #1065 "Database connection exception is hidden during tests"
See example here:

https://ci.javalite.io/view/Java8/job/java8-db2/1/consoleFull

[2021-01-27 19:56] ipolevoy opened #1066 "Remove dependency on Travis aftet migration to Jenkins"

[2021-01-28 20:58] ipolevoy opened #1068 "Jenkins is not building on java 14"

[2021-02-01 20:16] ipolevoy opened #1069 "AppBootstrap#init/destroy should manage DB connections configured in the app"
Sometimes you need a database connection to initialize the app when it starts and when it dies.
Currently these methods do not offer opening a connection, forcing a developer to do  this manually.

[2021-02-04 18:33] ipolevoy opened #1070 "Implement three branches: java8, Java11 and MASTER"
See here:

https://en.wikipedia.org/wiki/Java_version_history

Java8 and Java11 are LTS, so we need them to be maintained for some time.
Java17has an early access now and will be an  LTS when it comes out

So, the branches will be:

| Java version  | Branch name | Artifact version example
| ------------- | ------------- | --|
| 8  |  java8   | 2.5-j8 |
| 11  | java11  | 3.0-j11|
| 17  | master  |

[2021-02-04 18:33] ipolevoy commented on #1068
superceded by https://github.com/javalite/javalite/issues/1070

[2021-02-04 18:33] #1068 closed

[2021-02-04 18:40] #1064 closed

[2021-02-04 18:41] ipolevoy commented on #1061
superseded by https://github.com/javalite/javalite/issues/1070

[2021-02-04 18:41] #1061 closed

[2021-02-04 19:39] ipolevoy opened #1071 "resolve Java 17 compiler warnings"
too many to list, run the build to see them

[2021-02-04 20:53] ipolevoy opened #1072 "Build fails on JDK 17"
Error:

     google guice java.lang.IllegalStateException: Unable to load cache item

[2021-02-04 20:54] #1072 closed

[2021-02-08 23:41] ipolevoy commented on #1040
Once this is implemented, comment here: https://stackoverflow.com/questions/55805156/swagger-support-for-javalite-project

[2021-02-10 12:30] mppfiles commented on #1052
Nice idea, I would suggest a smaller one, because of the small terminal panel in IDEs.
Something like [this](https://github.com/yeoman/yeoman/pull/108#issuecomment-6569477).

[2021-02-10 21:30] ipolevoy commented on #1052
agree, what we have  is a  little garish, we need something that fits a small screen :)

[2021-02-10 21:32] ipolevoy commented on #1052
how about this?

[code]

[2021-02-11 12:41] alniks opened #1073 "JsonLog4j2Layout is not escaping some exception messages"
For example the following message from exception field was not properly escaped:

"Failed to render template: '/system/404.txt.ftl' without layout. Template not found for name " / system / 404.txt.ftl ".\nThe name was interpreted by this TemplateLoader: WebappTemplateLoader(subdirPath=" / WEB - INF / views / ", servletContext={contextPath=" ", displayName=null})."

Why not use Jackson's ObjectMapp

[2021-02-11 15:58] ipolevoy commented on #1073
@alniks  this is related to https://github.com/javalite/javalite/issues/682, and you are correct, will look into it soon

[2021-02-11 16:40] mppfiles commented on #1052
Looks nice! A little bit smaller would work too.

[2021-02-12 04:46] alniks commented on #1073
It could be then closed as duplicate of #682

[2021-02-12 04:46] #1073 closed

[2021-02-16 21:23] ipolevoy opened #1074 "Implement tests against local docker containers with all supported databases"

[2021-02-17 16:44] ipolevoy opened #1075 "Remove Travis-related artifacts"
The build moved to Jenkins: ci.javalite.io

[2021-02-26 15:33] yanchevsky opened #1077 "ActiveWeb routing enhancements for dynamic segments"
1. format() needs to return "" in case not specified
 2. Implement [List<String> accept()]  method to return a list  of Accept header values
      https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept
 3. Last dynamic segment needs to return a full value, complete with "extension": param("name") needs to return
 Example:

      URL:
          http://localhost:8080/person/bob.xml

[2021-02-26 17:15] mppfiles commented on #200
I managed to perform some basic operations with UUIDs in ActiveJDBC 2.4-j8 and PostgreSQL 13.
I follow the [same philosophy as in Rails](https://guides.rubyonrails.org/v5.0/active_record_postgresql.html#uuid) (generate UUID in server, same as SERIAL fields).
JDBC doesn't support UUID natively, but it's possible to work around that limitation.

[code]
[code]
`first()`, `where()` and other similar m

[2021-02-26 17:21] yanchevsky opened #1078 "Prevent unexpected session creation"
Every time a session is accessed, a session is created automatically. This is incorrect behavior if data placement into session is not used.
Problematic place:
[code]

[2021-03-02 20:54] jackymayo opened #1079 "Foreign Key to Non Primary Key one to many relationship"
Sorry I couldn't find this information anywhere. Wondering if this is possible.

It doesn't seem possible to point a foreign key column to a non (primary key) id column.

For example, we have the following setup (Not our actually modals just for simplicity):

- Address: id,  user_id
- User table: id, some_other_id

For legacy reasons, we have a FK where user_id refers to some_other_id

I would cod

[2021-03-02 22:11] jackymayo commented on #1079
Never mind looked into the source code and realized this isn't possible 😞   It'd have to be added as an extra parameter to the annotation along with extra conditions to check.

[2021-03-02 22:33] ipolevoy commented on #1079
@jackymayo ActiveJDBC does not use or care about foreign key constraints. It uses either conventions or annotations. I think you are on the right path
:)

[2021-03-02 22:33] ipolevoy commented on #1079
feel free to close  this if you think it is resolved

[2021-03-03 16:56] #1079 closed

[2021-03-03 20:07] jackymayo opened #1080 "Feature Request: Extra argument in annoation"
### Problem
#### Schema
User: id, some_other_unique_id
Address: id, user_id

### The Fix I would do if it's approved

Add an extra parameter to the annotation

[code]

Check if it exists and if so use it for `parentIdName` instead.
https://github.com/javalite/javalite/blob/54e09f3eb597eb12814bd5289142eeb6ffd4cdac/activejdbc/src/main/java/org/javalite/activejdbc/Model.java#L1186
[code]

[2021-03-03 22:49] ipolevoy commented on #1080
@jackymayo  OK, I have to admit, I do not fully  follow what you are looking for. The ID name can  be configured: https://github.com/javalite/javalite/blob/e91ebdd1e4958bc0965d7ee99e6b7debc59a7b85/activejdbc/src/test/java/org/javalite/activejdbc/test_models/Animal.java#L27

Can you please:

1. Provide your  tables' structure
2. Snippet of code that is not working for you

Appreciate desire to cont

[2021-03-03 23:28] jackymayo commented on #1080
1. Essentially we have a People table, with a primary key that we use, but also another other key for some other cases.
Due to legacy reason, we have use for the primary key but also another other key for certain circumstances.

2. So we still need IdName to be `id` in general for some of our `this.parent(Person.class)` calls that use the Primary key.
However, our Enrollments table  would need IdN

[2021-03-04 04:18] ipolevoy commented on #1080
@jackymayo you can just add a  method like this:

[code]

will this solve your problems?

[2021-03-04 07:31] jackymayo commented on #1080
Hmmm we are trying to reduce the SQL calls while operating through streams.
Sorry for the confusion haha, I'll be more explicit with the code:
### Before Feature
We have to convert our objects to DTOs when returning to the front end

So we have a call like this:
[code]

Now peeking into the `Enrollment.java` model we have:
[code]

### After Feature
So with the feature being implemented in the code

[2021-03-05 19:20] ipolevoy commented on #1080
@jackymayo

1. There is no way to reduce the SQL here. You just want to move it from one place to another (from your code to framerwork)
2. Can  you please provide the structures for  your tables (omit private stuff, but provide names, keys, FK, etc. )
3. Provide definition of your models (omit private code )
4. Provide a simple mockup of what the UI needs to display.

THAT will help me help you.

[2021-03-05 20:52] jackymayo commented on #1080
1. Sorry I was wrong what you said (moving from code to framework) is exactly what we need 😅
2.
[code]
3.

[code]
4. The UI needs to display the enrollments for the parents, also for our Operations they need to query enrollments too.

Our need for DTO stems from the need of typings in the form of Typescript. We use React with Typescript with JSweet.
There's also a lot of legacy code and design dec

[2021-03-08 18:45] ipolevoy commented on #1080
@jackymayo , see  you say:

However, this means moving this complexity from  your project to the framework, and then from the framework to thousands  of other projects that use said framework :)

Don't get me wrong, I do want to help, but also need to be mindful of extending the framework with esoteric functions.

Can you try something like this:

[code]

In fact, these kind of finders are typical

[2021-03-08 20:17] jackymayo commented on #1080
That query does work to get us the data we want, and it's what we're using now. What we'd like to do is efficient queries like so:

[code]
So we can later call `this.getParent(PersonDto.class)` without suffering N additional SQL queries when iterating over the enrollments.

To get this kind of SQL-query-efficiency with our foreign key constraints, we'll need to do a `Base.query(...)` call where we

[2021-03-09 02:50] ipolevoy commented on #1080
@jackymayo, by chance, do you know if this something  that is available out of the box from other ORMs, like ActiveRecord, Laravel, etc?

[2021-03-09 04:10] jackymayo commented on #1080
Hmmm, something like Laravel I guess?
https://laravel.com/docs/8.x/migrations#foreign-key-constraints

[code]

So in ActiveJDBC that would be in the form of:
[code]

Our current DB schema has something like this
[code]

[2021-03-10 03:47] ipolevoy opened #1081 "Implement SASS compiler implementation"

[2021-03-10 03:47] ipolevoy commented on #1081
Same as LESS compiler.

[2021-03-10 19:03] ipolevoy opened #1082 "Log encoding debug information in case there is an exception reading a migration file"

[2021-03-11 20:14] ipolevoy opened #1083 "Reconcile differences across branches master, java8 and java11"
starting with  this:

     2020-10-13 Igor Polevoy      minor corrections

[2021-03-11 20:16] ipolevoy commented on #1083
# Cherry-pick from `java8` to `master`   DONE!!
[code]

# Cherry-pick from master to java8

[code]

[2021-03-15 13:19] kvetka commented on #1081
scss compiler. This is kind of sass but that looked more like css

[2021-03-17 02:14] ipolevoy commented on #1083
now need to reconcile:

* master <> java11
* java11 <> master

[2021-03-18 11:00] alniks opened #1084 "ValidationSupport does not account for inheritance"
Test case:

[code]

We get a

[code]

the reflection in ValidationSupport#get should recursively search for fields in class hierarchy

[2021-03-20 16:42] ipolevoy commented on #1084
@alniks this is fixed on branches  java8  and master

[2021-03-20 16:44] #1084 closed

[2021-03-23 18:53] ipolevoy commented on #1083
# Next Steps

# Java8

* Fix integration test  versions
* Ensure successful build
* Implement a separate profile for integration tests

# Java11

* Fix integration test  versions
* Ensure successful build
* Implement a separate profile for integration tests

# Master

* Fix integration test  versions
* Ensure successful build
* Implement a separate profile for integration tests

[2021-03-24 12:37] yanchevsky opened #1086 "link_to tag: Cannot invoke "Object.toString()" because the return value of "java.util.Map.get(Object)" is null"
[code]

[2021-03-24 15:21] ipolevoy commented on #1086
@yanchevsky can you please provide information to replicate this exception?

[2021-03-24 15:34] yanchevsky commented on #1086
@ipolevoy unfortunately I fixed this problem in my code. It was a rare case of wrong redirection. I think this place needs to be checked for null pointer anyway.

[2021-03-26 12:39] mppfiles opened #1087 "Allow multiple associations to same model class"
Regarding [this SO question](https://stackoverflow.com/questions/19138757/activejdbc-object-with-multiple-parents-that-reference-the-same-class), there are cases when two models have more than one association between them. But despite of ActiveJDBC being capable to define multiple `@BelongsTo` annotations to the same model class (using the `foreign_key` option), the `.parent()` method lacks an arg

[2021-03-28 14:42] benjamin-thomas opened #1088 "Feature request: jte for typesafe views"
Hello,

I hope you don't mind me creating an issue, as I don't have a problem with your framework (which looks fantastic!).

Have you heard about this template engine ?

https://jte.gg/

I read somewhere on discuss that you attempted to implement your own template engine a while ago, but it didn't work out. So maybe that'd interest you.

`jte` looks pretty solid, and I think it would be an improve

[2021-03-29 16:39] ipolevoy commented on #1088
@benjamin-thomas thanks for a suggestion. We did in fact implement an in-house templating engine: https://github.com/javalite/activeweb/issues?q=is%3Aissue+templator, however, it did not perform as well as Freemarker, so after some effort we decided to  drop the idea and just use Freemarker, which is a fast performing, mature framework that also has a number of great features and natively integrat

[2021-03-29 17:41] ipolevoy commented on #1087
@mppfiles can you please provide a sample SQL schema of tables involved?

[2021-03-29 21:45] #1082 closed

[2021-03-30 04:30] benjamin-thomas commented on #1088
Right, it looks like you were trying to get better benchmarking results.

The **big** advantage of JTE over Freemarker is the compile time safety garanties. If your template references bad data, it won’t compile! With Freemarker you get a runtime error.

Oops I didn’t catch that thanks ;)

The justification has to be considerable to even start this work

I understand, I'm reasonably aware this wou

[2021-03-30 06:47] jackymayo commented on #1080
Sorry for the delay!

Hmmmm, it's my understanding that foreignKeyName is already being used to retrieve the id in the child table that points to the parent.
In this case, for our Enrollment table that would be person_id.

foreignKeyReferences would allow you to choose another id_name when `getId()` is called.
I understand that there is already that annotation that you showed me with the animal:
[

[2021-03-30 08:49] alniks opened #1089 "Async command serialization might fail in some cases (jdk 16)"
Add to HelloCommand a TreeMap field:

[code]
Run the CommandSpec.

Result:

[code]

Expected result: tests are not failing.

The main problem is serializing models with xstream

[2021-03-30 11:38] alniks commented on #1089
respective issue in xstream: https://github.com/x-stream/xstream/issues/101

[2021-03-30 17:20] mppfiles commented on #1087
It would be very very simple:

[code]

In such cases it's not worth to make a trip_city model/table, because this (example) domain just states that a trip has a departure city, and destination city. You have another example in the SO question (game -> team).

[2021-03-31 03:45] benjamin-thomas commented on #1088
Thanks for the feedback @ipolevoy

I don’t think I explained my views on testing very well.

I do find testing useful in some areas (mainly where there’s a clear input/output scenario) but not so much in others.

If I **have** to write a integration test to detect that my view is broken because I renamed a column thus broke a relationship (let’s say ‘profile.client.name’ to ‘profile.customer.name’

[2021-03-31 10:37] marcom1981 opened #1090 "Add LocalDateTime conversion to the Convert class"
With new MySql Drive 8.0.23:
https://dev.mysql.com/doc/relnotes/connector-j/8.0/en/news-8-0-23.html

We have issue with getDate Method related new mechanism to menage DateTime Type.
When invoke Model.getDate("columnName") we receive a "Cannot convert value to Date" error, because Model.getRaw("columnName) returns a LocalDateTime object.

We use 2.4-j8 and this JDBCUrl property:
"?autoReconnect=tru

[2021-03-31 14:51] ipolevoy commented on #1090
@marcom1981

Please, provide:
* Version of Java
* DDL for a table
* Version of MySQL

[2021-03-31 20:08] ipolevoy commented on #1088
See, I have an opposite view. I write integration and standard tests so I can sleep at night. Those tests covering a dynamic behavior  is a side effect :)

that works for small apps. I have been managing commercial JavaLite projects that span almost a decade, with people coming and going. Without the integration tests my life would be quite miserable.  You do not want to use your customers as QA,

[2021-04-01 15:43] benjamin-thomas commented on #1088
Yes I see that, I will give it a fair try for sure!

Hate is a bit of a strong word ;)

I tried to get into spring boot, and it was the template engine I preferred.

I'd have to give it a fair go to have a proper opinion. I stumbled upon this (similar) idea a couple of years or so ago with these guys : https://luckyframework.org/guides/frontend/rendering-html

JTE seems like an even better option

[2021-04-01 16:19] ipolevoy commented on #1088
Do you mean a simple demo with JavaLite  and JTE?

[2021-04-01 16:46] benjamin-thomas commented on #1088
Yes. Since I can just return a string from the controller I’ll start with
initializing a renderer from there and see what comes up.

I’d be interested if you have a reference demo for comparison.

Le jeu. 1 avr. 2021 à 18:19, Igor Polevoy ***@***.***> a
écrit :

--
*Benjamin Thomas*

[2021-04-01 16:58] ipolevoy commented on #1088
you can pick any existing demo from examples: https://github.com/javalite/javalite-examples and add a controller.

Keep asking questions here, I will track this issue

[2021-04-01 17:00] ipolevoy commented on #1088
https://github.com/javalite/javalite-examples/tree/master/activeweb-bootstrap - this one does not require any database or onfiguration.  This is a  pure ActiveWeb example, just ignore the bootstrap part

[2021-04-03 14:37] benjamin-thomas commented on #1088
Ok I got a little demo up and running here: https://github.com/benjamin-thomas/javalite-jte-demo

I'm not sure I've configured everything properly though.

`mvn install` will trigger compilation errors if the templates have errors in them. With the current setup, you won't be nagged if there's an error in another template: you get a runtime error like with Freemarker.

Here are my observations:

-

[2021-04-05 17:55] ipolevoy commented on #1088
@benjamin-thomas  I got your example running - good work. However, I was unable to  see compilation errors at compile time. Both FM and JTE only display run time errors

[2021-04-06 05:33] ipolevoy opened #1091 "Develop a script to generate release notes"

[2021-04-06 17:14] ipolevoy opened #1092 "Maven JavaDoc plugin needs to skip modules that are not releasing - starting with Java 11"
The JavaDoc plugin chokes on Maven modules that have  no code.

Example error  message:

[code]

[2021-04-06 18:39] ipolevoy opened #1093 "ActiveJDBC-KT module is not generating JavaDoc"
I tried to push a release through Sonatype today, and it was rejected because the KT module   had no  javadoc.jar file.

It might be related to: https://github.com/javalite/javalite/issues/874

The  new release was on the java11 branch for OpenJDK 11.

When I simply tried this:

[code]
nothing useful was generated.

@davy-claisse, can you take a look, please? We need to push the Java11 release out

[2021-04-06 19:44] davy-claisse commented on #1093
@ipolevoy Apparently Jetbrains published on Maven Central an [1.4.30 version of Dokka](https://search.maven.org/artifact/org.jetbrains.dokka/dokka-maven-plugin/1.4.30/jar) that seems to fix the previous Java 11 compliance problem.

Just let me have look on this, I'll check that.

[2021-04-06 20:18] ipolevoy opened #1094 "ActiveWeb: Implement an exclusive routing flag"
Currently you can add custom routs to the RouteConfig class: https://javalite.io/routing, but the standard routes are still open. The idea is to add an exclusive flag:

[code]

so that  if added,  only custom routes would work. All standard routes would generate a 404.

[2021-04-06 20:20] ipolevoy commented on #1093
@davy-claisse yes, I saw that. Thanks for looking!

[2021-04-06 20:28] #1083 closed

[2021-04-06 20:28] #1081 closed

[2021-04-06 20:28] #1070 closed

[2021-04-06 20:40] ipolevoy commented on #1087
@mppfiles sorry, just getting to this. What is the best API to cover this?

would this work?

[code]

Does not seem like a hard problem to solve

[2021-04-06 20:41] davy-claisse commented on #1093
@ipolevoy I found a way to produce a JAR of JavaDoc for Kotlin classes using Dokka but to do that I added the generation of Kotlin Doc during the Maven's phase `package`. If it's not convenient for you, please feel free to change it for the phase you prefer.

**Note:** I synchronized the version used by the Kotlin compiler to the one used by Dokka, this means activejdbc-kt will now be based on Kot

[2021-04-06 21:10] ipolevoy commented on #1087
The `include()` is a bit tricky since it already accepts a vararg.

Here is something that is less elegant, but can be implemented:

Add this to LazyList class:

add a class:

[code]

then add this method:

[code]

Then you can:

[code]
so, something to that effect. Is this making sense?

[2021-04-06 21:18] ipolevoy commented on #1093
@davy-claisse  appreciate a lightning -fast turnaround! This is not my convenience though. Once the PR is in, I will try to submit a new release to Sonatype. Let's keep the fingers crossed that they will accept it.

[2021-04-06 23:17] ipolevoy commented on #1080
@jackymayo I have a feeling that this is somehow related to: https://github.com/javalite/javalite/issues/1087 can you please confirm?

[2021-04-06 23:19] ipolevoy commented on #1078
@yanchevsky you can push the code here, now that  branches settled

[2021-04-06 23:26] ipolevoy commented on #200
@mppfiles what are you saying? If you look here: https://github.com/javalite/javalite/blob/4ac717cc0730b1c6be3f0d766c79cf7c9eaa4eb6/activejdbc/src/main/java/org/javalite/activejdbc/DB.java#L715 seems that ActiveJDBC should just work with UUIDs, no?

[2021-04-06 23:27] ipolevoy commented on #200
this might also work, depending on how smart os the driver:

    City amsterdam = City.findById("557f9492-5e1c-4ab6-8e48-66208e7ac0bd");

[2021-04-06 23:33] ipolevoy commented on #1077
@yanchevsky this is by design. The "xml" part is the "format", so  you can:

     String format = format(); // returns 'xml'

[2021-04-06 23:35] ipolevoy commented on #1077
does  it not return "" ?

You can handle headers with `headers()` method. Are you suggesting to build a separate convenience method?

[2021-04-07 12:15] jackymayo commented on #1080
Yep! That's similar to my issue

[2021-04-07 14:50] mppfiles commented on #1087
Looks good, maybe we can reuse the existing Association class?

[2021-04-07 22:35] ipolevoy commented on #1087
@yanchevsky and @alniks do you think the above is a good proposed syntax?

[2021-04-07 22:37] ipolevoy commented on #1052
It is hard to get it smaller and have a Java font thicker than  the Lite part. Feel free to propose a different version

[2021-04-07 22:40] ipolevoy commented on #1052
In addition, we should print:

1. Active Web version
2. ActiveJDBC version
here is how to pack versions into the jar files: https://stackoverflow.com/questions/921667/how-do-i-add-an-implementation-version-value-to-a-jar-manifest-using-maven

[2021-04-07 22:51] mppfiles commented on #1052
Didn't even noticed that! 😅  👍🏽

[2021-04-08 10:35] alniks commented on #1087
it looks good to me

[2021-04-08 13:29] ipolevoy commented on #1087
@alniks do you think the API can be  made a but more elegant?

[2021-04-11 06:41] benjamin-thomas commented on #1088
Hello @ipolevoy, maybe you forgot to run the appropriate maven task?

As I said, the JTE workflow was made to be similar to FM in dev mode for convenience, however the template won't actually compile in the final product if there's an error.

Still looking further, I stumbled upon this google project: https://github.com/google/closure-templates

So google solved the "problem" that's been bothering

[2021-04-11 06:41] #1088 closed

[2021-04-12 21:13] ipolevoy commented on #1088
@benjamin-thomas , cool examples, nice work. Implementing  this inside a controller is a good first step, but the next step would be implementing a template manager. In any case, lmk if you have any question!

[2021-04-14 11:46] mppfiles opened #1097 "Release jakarta (Servlets 5) compatible version"
Now that Servlet spec 5 is out, and some of the major web servers adopted it (for example, Tomcat 10, Jetty 10/11) it becomes important to release a compatible version for javalite.
The main change is the migration from javax.servlet.* to jakartaee.servlet.* namespace...

[2021-04-14 14:10] ipolevoy commented on #1097
@mppfiles I have not looked at  it yet, is this the only change?

[2021-04-14 15:12] yanchevsky opened #1098 "Migrations: rolling back a transaction does not work with two or more tables in a migration."
Migration:

[code]
java.lang.RuntimeException: org.javalite.activejdbc.DBException: java.sql.SQLSyntaxErrorException: Incorrect table definition; there can be only one auto column and it must be defined as a key

The table `table1` exists after migrating.

[2021-04-14 17:32] ipolevoy commented on #1098
Unfortunately transaction support is not very well implemted in DDL by database vendors. As such, not much we can do here other than read a vendor documentation and be very cognizant of this fact.

[2021-04-14 20:49] ipolevoy commented on #1098
@yanchevsky  please see https://mariadb.com/kb/en/start-transaction/

Specifically:

This means that  if you want the DDL migrations to roll back in case of an error, just do not put more than one DDL statement into a single migration file.

[2021-04-14 20:51] #1098 closed

[2021-04-14 20:52] ipolevoy commented on #1098
@yanchevsky , please feel free to send a correction  to the docs: https://github.com/javalite/javalite-site

[2021-04-15 23:06] ipolevoy opened #1100 "ActiveJDBC may load the same configuration file twice"
referring https://github.com/javalite/javalite/pull/1099

[2021-04-16 14:33] alniks opened #1101 "Base.find(String query, Object... params) is fetching the whole resultset instead of streaming it"
the code is passing 0 to the method which sets fetch size:

`find(RowProcessor.ResultSetType.FORWARD_ONLY, RowProcessor.ResultSetConcur.READ_ONLY, 0,  query, params)`

according to docs 0 is ignored:

https://docs.oracle.com/javase/7/docs/api/java/sql/Statement.html#setFetchSize(int)

which leads to fetching whole resultset into memory.

I would set the default value to at least 10 to save on netw

[2021-04-17 13:37] mppfiles commented on #1097
I'm not entirely sure, but somewhere I read that it's "feature equivalent" so... maybe.

[2021-04-19 16:37] ipolevoy commented on #1093
@davy-claisse I  released the version 3.0-j11 for java 11, so your fix worked.

Unfortunately, I tried to release ve 3.0 for Java 15, and  got the same exact issue. I cherry-picked  your commit to the master branch beforehand. Somehow this is not working on Java 15. Any idea?

[2021-04-19 21:30] #1100 closed

[2021-04-20 16:09] ipolevoy commented on #1089
The other case is when an ActiveJDBC Model is added to a Command as a member. Due to the fact that the Model attributes are type if TreeMap, we have the same issue with a Model.

The solution for Models is to not inject a model instance into a command, but rather use a Model.toJSON() or  Model.toXML()  and send that via a command

[2021-04-20 21:16] ipolevoy commented on #1089
The solutions are:

1. **To the exception**: do not use TreeMap in the Commands that you pass to Async. I changed the Model.toMap() method to return HashMap rather than TreeMap.  Sending live models through the Async is probably not the brightest idea (I'm guilty of that too!). The solution now that should work is to do: `Map personMap = person.toMap()`, then pass the map to Async
2. To the warnin

[2021-04-20 21:34] ipolevoy commented on #1093
@davy-claisse , sorry have you had a chance to look into it? It is delaying a release of 3.0 for Java 11.

[2021-04-20 21:49] ipolevoy opened #1103 "kotlin-maven-plugin chokes on Java 16"
See:
https://discuss.kotlinlang.org/t/maven-openjdk16-kotlin-1-4-31-or-1-5-0-m1-llegalaccessexception/21260

[code]

[2021-04-20 21:57] ipolevoy commented on #1101
@alniks this is not a bug. This is a way to get an infinite number of records from a database by processing the results using RowProcessor one record at the time. If you are somehow accumulating these records and are running out of  heap space,  this API is not for this case. The whole idea here is not to have a limit, but rather to use a "cursor" to be able to process infinite number of records.

[2021-04-21 06:15] alniks commented on #1101
@ipolevoy you are wrong: "0" is ignored by the driver and means - fetch the whole result set into memory. If you need "one record at the time" you have to pass 1. Here is the stack strace:

  at org.mariadb.jdbc.internal.io.input.StandardPacketInputStream.getPacketArray(Z)[B (StandardPacketInputStream.java:266)
  at org.mariadb.jdbc.internal.com.read.resultset.SelectResultSet.readNextValue()Z (Sel

[2021-04-21 17:23] ipolevoy commented on #1101
@alniks  you are correct, here is a better explanation: https://mariadb.com/kb/en/about-mariadb-connector-j/#streaming-result-sets

[2021-04-21 17:37] ipolevoy commented on #1101
@alniks  the last commit should take care of the issue. I will be included in the release for Java 16

[2021-04-21 17:39] ipolevoy commented on #1101
I still would not say this is a bug, since the other method  allows you a full control over a fetch size: https://github.com/javalite/javalite/blob/9524dfb5bf223dfb7f685ef03f2277c27e1c9fab/activejdbc/src/main/java/org/javalite/activejdbc/Base.java#L282
I'd rather call this an enhancement :)

[2021-04-22 14:29] #1101 closed

[2021-04-28 05:46] alniks commented on #1089
One more option is to add a simple converter for Models:

[code]

and then add it to XStream:

`xStream.registerConverter(new ModelConverter());`

[2021-04-28 05:51] alniks commented on #1089
The same could be done for CaseInsentitiveMap and some collections which are not currently supported by XStream: List.of, Arrays.asList. XStream already has some converters for collections, which could be reused:

[2021-04-28 14:35] ipolevoy commented on #1089
Interesting!

[2021-04-28 15:51] ipolevoy commented on #1094
Rename "exclusive" to "strict" - a more appropriate  term for this.

[2021-04-29 04:26] ipolevoy commented on #1093
I think I made a mistake. It  is working on java 15, closing.

[2021-04-29 04:26] #1093 closed

[2021-05-10 18:17] #1094 closed

[2021-05-13 04:11] alniks opened #1104 "Add ability to provide variables in migrations"
For example ${mysql_db}:

`CREATE TABLE users (id UInt64,  name String, status UInt8) ENGINE = MySQL('${mysql_address}', '${mysql_db}', 'users', 'root', 'secret');`

The variables are then taken from app_config files depending on the environment. So we are able to provide different values for a example for development, test, and jenkins environment.

However, there should be a way to escape those

[2021-05-13 04:15] alniks commented on #1104
One more consideration is not to break some old migrations which might use similar syntax in statements and were not going to use replacements.

[2021-05-13 14:19] ipolevoy commented on #1104
I propose this format:

* `${app_config.var}` - to get data

[2021-05-14 17:58] ipolevoy commented on #1104
Proposing to add an additional parameter: `mergeValues`, where it will point to a file with substitution values. If you want to use different values in different environments, you can create multiple executions of the  plugin and provide different `mergeValues` for different executions.

[code]

[2021-05-14 18:00] ipolevoy commented on #1104
Also, proposing to use a Mustache format:

    {{mysql_address}}

inside the property file.

[2021-05-18 17:16] yanchevsky opened #1106 "ActiveWeb: The HTTP method is incorrectly defined if another annotation exists for the action."
Example:
[code]
Error: ""405 - Method not allowed"

The problem location:

**org.javalite.activeweb.Route.allowedActions()**

[2021-05-18 20:02] #1106 closed

[2021-05-18 20:09] ipolevoy opened #1108 "Change Mysql driver to latest MariaDB"

[2021-05-18 20:16] ipolevoy commented on #1108
this is because most development happens on MariaDB and not Mysql

[2021-05-18 21:00] #1108 closed

[2021-05-18 21:09] ericscottuk opened #1110 "Option to enable synchronous command execution"
I propose implementing the ability to enable synchronous execution on async commands.

This would make testing certain code far less complex, and make debugging easier too.

[2021-05-18 21:17] ipolevoy commented on #1110
@ericscottuk there is a pretty good mechanism for it, please check  this out:
https://github.com/javalite/javalite/blob/e00cdbd53bc6bdadfe4639e90dce135d77ddde35/javalite-async/src/test/java/org/javalite/async/AsyncSpec.java#L59

[2021-05-18 21:52] ericscottuk commented on #1110
Thanks for this - however, in defence of my point, this code still runs asynchronously. The main purpose of enabling synchronous execution (from my perspective) is easier debugging and testing.

Side note, the next/better implementation of this could be done at a send-by-send level, instead of a global flag.

[2021-05-19 12:39] yanchevsky commented on #1078
NullPointerException when we use session in SpecHelper (RequestContext was created without HttpServletRequest).

[2021-05-19 14:31] #1110 closed

[2021-05-19 16:17] ipolevoy commented on #1110
:+1: ,  there are other ways  to run tests. Simply do not use Async for them, since Async is to run commands ... asynchronously :)
Thanks for understanding!

[2021-05-19 17:34] ipolevoy opened #1114 "Provide a better exception login into the application log file in case Guice prevents from starting the app"

[2021-05-19 21:50] ipolevoy opened #1115 "Fix a failing test in SessionFacadeSpec"
I ignored it for now, but it is probably due to latest changes in session management

https://github.com/javalite/javalite/blob/1f64444da4495d309db50bb507fd416f1058dfd2/activeweb-testing/src/test/java/app/controllers/SessionFacadeSpec.java#L26

[2021-05-20 11:23] yanchevsky opened #1116 "org.javalite.app_config.EnvironmentSpec cannot be executed in Windows"
[code]

[2021-05-20 11:30] #1116 closed

[2021-05-21 19:53] ipolevoy opened #1118 "Log4j implementation is included in the common module"
and this is not the best, since if you need another implementation, you have to exclude this one

https://github.com/javalite/javalite/blob/3e2c35ddda62ad97f7636a1a58de3738e16c70d4/javalite-common/pom.xml#L95

[2021-05-21 19:56] ipolevoy commented on #1118
it also messes logging from  downstream modules that want to log to STDIO - look out for  those SLF4J warnings on the console

[2021-05-22 16:06] ipolevoy commented on #1104
need to add documentation to the site

[2021-05-22 17:09] jfcabral commented on #1075
Hello @ipolevoy 🙂

Long time no see... 🙁

I'm actually working in DevOps now! 😅

Today I have noticed this:

So I came in to check how was everything going, only to find that what we accomplished here https://github.com/javalite/javalite/issues/752 is no longer working 😢

I also tried to access to `ci.javalite.io` but with no success 😕

I was under the impression that the system we setup was a goo

[2021-05-23 21:46] ipolevoy commented on #1075
@jfcabral , congrats on DevOps move  and nice to "see"  you again :)

We made a decision internally to abandon Travis even before, since their infrastructure is so slow. It took almost an hour for a full build. Edovo.com, is sponsoring JavaLite and the ci.javalite.io on AWS will be available soon. Unfortunately, the was a spade of new development at my main job and at JavaLite (see latest commits

[2021-05-26 08:29] DolgopolovOleg opened #1119 "Add LocalDate and LocalDateTime suppport"
Now Model class has getDate() and setDate() and also set methods support java.sql.Date. Would be nice to see java.time.LocalDate and java.time.LocalDateTime support as well.

[2021-05-26 09:11] crummy commented on #1119
And Instant too!

[2021-05-26 15:37] yanchevsky opened #1120 "Implement all methods of Map in AppConfig"
These methods can be useful for testing.

[code]

[2021-05-27 15:50] ipolevoy commented on #1078
@yanchevsky is this completed?

[2021-05-27 15:56] ipolevoy commented on #1114
Completed in: https://github.com/javalite/javalite/commit/1f64444da4495d309db50bb507fd416f1058dfd2

[2021-05-27 15:56] #1114 closed

[2021-05-27 17:39] yanchevsky commented on #1078
yes

[2021-05-27 17:39] #1078 closed

[2021-05-27 18:43] ipolevoy commented on #1104
docs are here: https://javalite.io/database_migrations#variable-substitutions-in-migrations

[2021-05-27 19:19] ipolevoy opened #1121 "Implement a new method annotation for controllers: Endpoint"
something like this:

[code]

A controller will look like this:

[code]

All existing annotation should still work. However using "legacy" and  this new annotation on the same action should issue a warning.

[2021-05-31 08:26] alniks opened #1122 "Add .param and .params methods to Http.delete"

[2021-06-01 16:15] #1122 closed

[2021-06-01 16:16] ipolevoy commented on #1122
added to Delete as  well as Put

[2021-06-01 16:16] ipolevoy commented on #1122
snapshots deployed

[2021-06-02 20:07] ipolevoy opened #1123 "Some methods of HttpSupport are public, while they need to be protected"
public  methods of  controllers map to external routes and are exposed on the internet. It might be a potential security hazard.

[2021-06-08 11:54] yanchevsky opened #1125 "Add ability to use project models and classes in Groovy Migration"
We cannot use any classes from dependencies and compiled classes.
For example:
[code]

[2021-06-08 13:33] ipolevoy commented on #1125
@yanchevsky using models in migrations  was never intended. You can use the Baser class to execute complex queries.

[2021-06-08 13:38] ipolevoy commented on #1125
consider that for this to work, the plugin needs to add module classes to its own classpath, which is not what plugins normally do.

[2021-06-10 15:45] yanchevsky opened #1127 "Incorrect migration path setup"
mvn db-migrator:reset

[code]

[2021-06-11 14:51] yanchevsky opened #1129 "db-migrator:reset doesn't work with a groove migration"
Wrong classpath is generated for a groovy script.

[2021-06-11 15:12] #1129 closed

[2021-06-11 15:12] #1127 closed

[2021-06-11 15:13] #1125 closed

[2021-06-15 09:19] alniks opened #1131 "org.javalite.http.Request can set basic auth params from the passed url"
If URL's getUserInfo() is not null it could be split and set as basic authentication parameters:

[code]

[2021-06-17 15:04] ipolevoy commented on #1040
code done, need to add documentation

[2021-06-17 18:07] ipolevoy opened #1132 "method HttpSupport.sendCookie is public"
as such, it is open on the internet and reported by the aw-mate:routes  command

[2021-06-17 18:43] #1132 closed

[2021-06-18 17:27] ipolevoy opened #1133 "Enhance performance of AppConfig.isInTestMode()"

[2021-06-18 18:03] #1133 closed

[2021-06-22 21:25] ipolevoy opened #1134 "Implement a sub-framework for easier JSON processing and validation"
goals:

1. easy   to pick and chose parts of JSON by using direct links: "university.students.joe".
2. Implement  the use of the validation framework to allow declarative validations:

[code]

This way,  processing  and validation of JSON requests in ActiveWeb will become easier.

[2021-06-28 04:54] ipolevoy opened #1136 "Async cannot serialize JSONMap and JSONList classes: "om.thoughtworks.xstream.converters.ConversionException: No converter available""
[code]

[2021-06-28 04:59] #1136 closed

[2021-06-28 05:07] ipolevoy commented on #1089
added some converters to  to process JSONMap and JSONList here: https://github.com/javalite/javalite/issues/1136. I wonder if we  need to expose  XStream from a command so as to allow people to add converters outside JavaLite API, @alniks ?

[2021-06-28 06:12] alniks commented on #1089
It's better to do on Async level - add option to Async's configuration. Multiple commands might use the same converter. And sure enough you never know what class is going to require a custom converter.

[2021-07-09 01:44] #1134 closed

[2021-07-14 15:43] ipolevoy opened #1137 "Explore if Model.save() should call Model.purgeEdges() or not"
in the course of working on #875, we figured that Model.purgeEdges() is not called form Model.save().
Please, explore if this is a bug or not.

[2021-07-16 15:27] #875 closed

[2021-07-16 15:30] yanchevsky opened #1139 "Implement cache manager based on Memcached"

[2021-07-19 06:09] amrjlg opened #1140 "search some column not all"
i want to got a few of columns not always get all columns.
is there have some way to do this?
such as follow table
[code]
i want only get `comment_form_id` and `comment_form_name`

[2021-07-19 13:34] ipolevoy commented on #1140
@amrjlg , ActiveJDBC is an ORM, as such a model instance needs to have all columns to operate.  If you want to select specific columns but not all do not use models. This answer has been  posted to https://stackoverflow.com/questions/27082707/limiting-columns-selected-with-activejdbc

[2021-07-19 13:35] ipolevoy commented on #1140
I will close this issue, but  feel free to post comments here.

[2021-07-19 13:35] #1140 closed

[2021-08-02 21:54] ipolevoy opened #1141 "RequestAccess logger is not private, so it is possible to call it from subclasses"
Logger LOGGER = LoggerFactory.getLogger(RequestAccess.class);

[2021-08-02 22:14] ipolevoy opened #1142 "ActiveWeb: add parametrized versions of methods for logging to controllers and filters"
[code]

[2021-08-04 17:15] ipolevoy opened #1143 "Add JSON helpers to Http"
it would be nice to be able to do this:

Get p = Http.get("https://blah...");

     JSONMap map = p.jsonMap();

and:

     JSONList list = p.jsonList();

[2021-08-05 19:34] ipolevoy opened #1144 "HTTP Put cannot use params"
due to inheritance

[2021-08-17 20:37] ipolevoy opened #1146 "Document generating metadata during instrumentation"
Implementation here:

https://github.com/javalite/javalite/issues/479

[2021-08-17 20:38] ipolevoy commented on #1146
See here: https://javalite.io/instrumentation - we need to add a new section here to explain what this is and how to  configure

[2021-08-17 20:39] ipolevoy commented on #1146
found  it  here:
https://javalite.io/runtime_discovery#static-metadata-generation

[2021-08-19 05:25] alniks opened #1147 "Add getJSONMap(String name) returning JSONMap to Model"
Similar to getBoolean, getLong, etc. Just a helper method to parse JSON string in a column

[2021-08-20 16:03] #1147 closed

[2021-08-20 16:03] ipolevoy commented on #1147
a new snapshot v3.0 is deployed, enjoy, @alniks

[2021-08-20 16:05] ipolevoy commented on #1147
added getters and setters for JSONMap as well as JSONList

[2021-08-23 14:16] ipolevoy commented on #1104
apparently, there is no way to specify different files for environments, we need to add that

[2021-08-26 19:03] ipolevoy opened #1152 "Add control of whitespace to Templator"

[2021-08-28 13:27] #1144 closed

[2021-08-31 18:46] ipolevoy opened #1154 "Add additional type getters to AppConfig"
pLong, pBoolean, ets.

[2021-08-31 18:48] #1154 closed

[2021-09-01 17:22] #1152 closed

[2021-09-01 17:42] ipolevoy opened #1155 "Implement ability to accept JSONMap as an argument for an action"
this will be the simplest way to parse JSON. No validation will  be required

[2021-09-08 15:19] #1155 closed

[2021-09-21 02:35] ipolevoy opened #1156 "Implement a way to convert a model to a map with partial attributes"
For instance, Model.toJson(String ... attributes) exists, but the same for JSON does not

[2021-09-21 03:14] #1156 closed

[2021-09-21 03:15] ipolevoy opened #1157 "Inflector: implement ability to convert keys in a map to/from CameCase to underscore and back"

[2021-09-21 18:57] ipolevoy opened #1158 "activejdbc.log system property default behavior changed because JDK changed the way it parses system properties with no value"
Previously, if you define:

[code]

Now, the new JDK works:

[code]

As a result, ActiveJDBC puts out no logs.

[2021-09-21 19:09] #1158 closed

[2021-09-24 16:43] #1157 closed

[2021-09-24 16:45] ipolevoy opened #1160 "Implement handling concurrent calls in getModelRegistry"
https://github.com/javalite/javalite/pull/1159

Re: @crummy

When our service spins up, we immediately spin up some threads to perform scheduled jobs. When these threads use ActiveJDBC models, sometimes we see concurrency errors. Here's a sample stacktrace:

[code]

[2021-09-24 16:46] ipolevoy commented on #1160
@crummy what JavaLite version are you using?

[2021-09-24 18:53] crummy commented on #1160
2.4-j8

[2021-09-26 16:25] ipolevoy commented on #1160
we will make a new release next week so you can use this fix. What version of Java are you using?

[2021-09-26 17:27] crummy commented on #1160
Thanks so much! We build for Java 11, run it on JDK 15 though.

[2021-10-13 14:19] mppfiles opened #1161 "Force loading of parent (not using cache)"
When using `parent(MyModel.class)` or `parent(MyModel.class, false)` I want to specifically ignore the cached parent, if any. So [this condition](https://github.com/javalite/javalite/blob/e7f95dbd0d49d0802d0086737889c909cf683d08/activejdbc/src/main/java/org/javalite/activejdbc/Model.java#L1171) would need to include the value of `cache` parameter? Something like:

[code]

[2021-10-13 20:36] ipolevoy commented on #1160
OK, I see if I can make a release in the next 1 - 2 weeks

[2021-11-03 15:07] yanchevsky opened #1162 "Tag ling_to and aw.js: function 'after' does not working as expected"
The function 'after' is called before adding the result to the page.

[code]
Expected that the function 'after' process the result of the call.

[2021-11-03 15:13] yanchevsky opened #1163 "Paginator: incorrect row count when using distinct"
Looks like the paginator is ignoring 'distinct' when creating a count query.

[2021-11-03 16:46] ipolevoy opened #1164 "Custom routing breaks in case of a dot in the custom route"
Example RouteConfig:

[code]

Controller:

[code]

Example URI: `/access/one.two.three`

     generates this error:

[code]

As you can see, the name of the template is guessed incorrectly.

Expected behavior:
Since this is a a custom route, the framework needs to simply pass the custom segment as a `param1st()`  and `params()`, as well as `param("path")` and not try to interpret the template  nam

[2021-11-03 21:51] ipolevoy commented on #1164
fixed and a new snapshot deployed

[2021-11-03 21:51] #1164 closed

[2021-11-04 06:00] kst9395 opened #1165 "POJO conversion doesn't work on Content-Type = application/json; charset=UTF-8"
In `ControllerRunner#getRequestObject` method, the implicit conversion from json to pojo will only happen if the `Content-Type` request header is equals to `application/json`.
[code]
The conversion of request body to Map in `HttpSupport` however uses `.contains`

[code]
Should the `ControllerRunner` use the same validation logic when doing implicit conversion?

[2021-11-04 14:09] ipolevoy commented on #1165
@kst9395 is this causing an issue for you? Is there a way you can provide an example where this is not working?

[2021-11-04 14:13] ipolevoy commented on #1165
@kst9395 you are correct, this is a valid bug. What version of JavaLite are you using?

[2021-11-04 14:21] kst9395 commented on #1165
Hi @ipolevoy , I am using javalite version: 2.5-j8.
This is causing an issue because I am using mithril.js as my frontend framework and seems like the default implementation of ajax call is actually defaulting the `Content-Type` header to be `application/json; charset=utf-8` and there's no way for me to remove the request header.
The current workaround is actually to use raw XMLHttpRequest but it

[2021-11-04 15:30] ipolevoy commented on #1165
got it, no prob. I implement a fix and make a new release next week

[2021-11-16 23:39] yanchevsky opened #1166 "RequestBuilder.post(): params() contains no parameters from the query string"
Request:
[code]

Result:
[code]

[2021-11-17 22:01] ipolevoy commented on #1166
@yanchevsky  this is fixed, pushed to SNAPSHOT 3.0

[2021-11-17 22:01] #1166 closed

[2021-11-19 08:17] alniks opened #1167 "NPE in tests when passing query string without parameter value in tests"
the following will result in NullPointerException:

[code]

`
java.lang.NullPointerException: Cannot invoke "Object.toString()" because "v" is null
	at org.javalite.activeweb.RequestBuilder.addParameterValues(RequestBuilder.java:431)
	at org.javalite.activeweb.RequestBuilder.addParameterValuesFromQueryString(RequestBuilder.java:442)
	at org.javalite.activeweb.RequestBuilder.createAndConfigureReque

[2021-11-20 16:30] ipolevoy commented on #1167
@alniks this is fixed, thanks for reporting

[2021-11-20 16:30] #1167 closed

[2021-11-22 17:44] ipolevoy commented on #1165
@kst9395  this is fixed,  you can pull a current snapshot 2.6-j8-SNAPSHOT for Java8 or 3.0-SNAPSHOT for Java16.

[2021-11-22 17:44] #1165 closed

[2021-11-22 17:46] ipolevoy commented on #1161
@mppfiles, sorry for the delayed response, but feel free to send in a pull request. Please, ensure there is a test that covers this condition.

[2021-11-22 18:19] ipolevoy commented on #1160
@crummy, this was fixed and deployed  as a version 2.6-j8-SNAPSHOT. Can you please test and let me know if this fixes your issue. I will then make a release for 2.6-j8 for Java 8.

[2021-11-22 18:55] crummy commented on #1160
We were on 2.3.2-j8 before. I upgraded to 2.6-j8-SNAPSHOT and added the extra repository and pluginrepository. Now when I run `ant build`:

[code]

[2021-11-22 19:36] ipolevoy commented on #1160
`org/javalite/validation/Validatable` is part of the `javalite-common` package,  and it is was published today: https://oss.sonatype.org/content/repositories/snapshots/org/javalite/javalite-common/2.6-j8-SNAPSHOT/.

Please, ensure you are configured for latest snapshots: https://javalite.io/releases#latest-snapshots

[2021-11-22 20:17] crummy commented on #1160
Thanks, I'm testing that now.

One thing that I noticed: 2.6 seems to depend on javalite-common:2.6, which depends on `org.apache.logging.log4j:log4j-slf4j-impl:2.13.3`, which conflicts with my local `logback-classic` binding. I'm actually not sure how to exclude a dependency of a dependency in Maven; is this inclusion intended?

[2021-11-22 22:52] ipolevoy commented on #1160
@crummy it is easy to exclude a dependency in Maven: https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

However, we have a bug here to get it out: https://github.com/javalite/javalite/issues/1118. For now, you can just exclude it,

[2021-11-22 23:24] #1118 closed

[2021-11-22 23:25] ipolevoy commented on #1160
actually, just closed the https://github.com/javalite/javalite/issues/1118, you can try again without exclusions

[2021-11-22 23:32] crummy commented on #1160
To try to repro it I ran `while true; do curl localhost:4568; done` while booting my app.

I no longer see a `ConcurrentModificationException` - thanks, I think this ticket is now resolved!

However, I still do see this error still, even after running `mvn package -U`:

[code]

[2021-11-22 23:34] crummy commented on #1160
Also, if I try this repeatedly, sometimes when I start the server I get this upon every request:

[code]

ClassSession.java:
[code]

[2021-11-22 23:57] ipolevoy commented on #1160
The dependency problem you are experiencing is due to packaging your app. ActiveJDBC depends onJavaLite Common  package, which includes org.javalite.activejdbc.validation.Validator. You need to see why that class is not available to your app.

The problem:

[code]
is a sign of a concurrent issue. However, the  schema discovery is synchronized: https://github.com/javalite/javalite/blob/9b4e99676191

[2021-11-23 22:31] yanchevsky opened #1168 "File upload: org.apache.commons.fileupload.FileUploadException: Stream closed"
A stream is closed unexpectedly if a controller method uses parameter mappings to an object.

[code]

Caused by: org.javalite.activeweb.ControllerException: org.apache.commons.fileupload.FileUploadException: Stream closed; Stream closed
	at org.javalite.activeweb.HttpSupport.multipartFormItems(HttpSupport.java:763)
	at org.javalite.activeweb.HttpSupport.uploadedFiles(HttpSupport.java:621)
	at org.

[2021-11-23 22:38] ipolevoy commented on #1168
@yanchevsky is this happening in tests or at runtime? Also, please provide an example of a request  and a controller code.

[2021-11-23 23:01] ipolevoy commented on #1160
@crummy have you tried the above?

[2021-11-23 23:41] crummy commented on #1160
I'd missed the version change in my build.xml (I run in my IDE). After making that change, I now get the `java.lang.NoClassDefFoundError: org/javalite/validation/Validatable` error when I run `ant`, FYI.

I tried to make the static metadata changes.
[code]
Not 100% sure I made them correctly. Here's my pom.xml changes:

[code]

[2021-11-24 01:16] ipolevoy opened #1169 "Upgrade to latest version of Jackson"
this will enable to serialize Java records

[2021-11-24 01:30] ipolevoy commented on #1160
@crummy please, see a working example: https://github.com/javalite/javalite/blob/7b202943fe5c4d40e8c793666f6499866d05e3c5/activejdbc-static-metadata-test/pom.xml#L73

[2021-11-24 01:32] #1169 closed

[2021-11-24 01:36] crummy commented on #1160
Looks like I've got that line, and the file is generated. I'm not sure what to do.

[2021-11-24 21:32] ipolevoy commented on #1160
what is in the file?

[2021-11-25 18:12] crummy commented on #1160
When I try to `mvn package` that test project:

[code]

[2021-11-25 18:19] ipolevoy commented on #1160
you are looking for snapshots in the wrong repository. Please, configure
your repos according to  this:
https://javalite.io/releases#latest-snapshots

tx

On Thu, Nov 25, 2021 at 12:13 PM Malcolm Crum ***@***.***>
wrote:

[2021-11-25 18:57] ipolevoy commented on #1160
@crummy also, can you call any model count as in : `ClassSessionLocation.count()` before you start multiple threads? This way   you will ensure that you alleviate any concurrency issues related to discovery

[2021-11-25 19:01] crummy commented on #1160
Sorry, I assumed the example repo would have the snapshots repositories. I added them, then ran `mvn package`. Things worked OK with the h2 database, but when I tried to point it to my own MariaDB instance I get the same behaviour: an `activejdbc_metadata.json` file containing `[]` only.

You can see my changes here: https://github.com/javalite/javalite/compare/master...crummy:empty_metadata_json?

[2021-11-29 23:06] ipolevoy opened #1170 "Static metadata is not working in the example"
https://github.com/javalite/javalite/tree/master/activejdbc-static-metadata-test

Please, see communication here: https://github.com/javalite/javalite/issues/1160#issuecomment-979426624

Please, change the example to MySQL/MariaDB and see if this is still working. Use a migratory for that.

[2021-11-29 23:08] ipolevoy commented on #1160
@crummy I created a new issue for @yanchevsky: https://github.com/javalite/javalite/issues/1170. He will switch the example to MySQL, we will test it then

[2021-12-07 23:51] ipolevoy commented on #1160
@crummy is this still a problem for you? I created a test attempting to replication  your problem, ran it with 10 concurrent  threads, but was unable to reproduce it.

[2021-12-08 08:13] crummy commented on #1160
I've updated my repo with a script that reproduces the issue: run `repro.sh` and you should see an `activejdbc_metadata.json` file that contains just `[]` (perhaps my DB is set up wrong?)

[2021-12-14 17:33] gliu6 opened #1175 "Update dependency log4j version to avoid security vulnerability"
According to https://logging.apache.org/log4j/2.x/security.html
Log4j all versions from 2.0-beta9 to 2.14.1 has critical vulnerabilities.
The log4j-core and log4j-api and log4j-slf4j-impl used in ativejdbc should be updated.

[2021-12-14 18:38] #1175 closed

[2021-12-14 21:14] crummy opened #1176 "Custom de/serializers"
We're introducing custom wrapper classes for our IDs to ensure typesafety:
[code]
[code]
[code]
This works well enough, but we have to be careful when using that ID elsewhere with ActiveJDBC queries:
[code]
<details>
   <summary>Full stacktrace</summary>

[code]
</details>
Is it possible to write a custom serializer for particular classes (ideally just `Id.class`) and have ActiveJDBC use it? Seria

[2021-12-14 22:16] ipolevoy commented on #1176
@crummy have you tried to implement an Externalizable/Serializable interface by your Id class? Seems  the driver has a problem  with serializing

[2021-12-14 22:49] crummy commented on #1176
I tried adding these methods to `UserId`:
[code]
Now my error is as follows:
[code]

[2021-12-15 17:33] ipolevoy commented on #1176
@crummy, what is the reason you want the ID class?

[2021-12-15 20:19] crummy commented on #1176
Primarily, for type safety. This prevents someone from accidentally transposing arguments - easy to do with `setUserCounter(int userId, int count)` but impossible to do with `setUserCounter(UserId userId, int count)`. It also ensures ID fields aren't accidentally confused - e.g. it's not clear that `foo(int userLoginId)` and `foo(int userId)` are supposed to take different types of IDs.

There are

[2021-12-16 00:45] ipolevoy opened #1177 "Implement a Websockets support"
Specification is here: https://github.com/javalite/javalite/wiki/Websockets-Specification

[2021-12-16 01:01] ipolevoy commented on #1176
In my projects, I try not to use model IDs outside models as much as possible. For instance, I would not write this:

[code]

I would rather write:

[code]

While you do not always get away from using a model ID outside of a model, but this can/should be reduced to a min. The code  you are presenting as examples above is a classical leaky abstraction. I personally try to keep all DB -related stuff

[2021-12-16 01:20] crummy commented on #1176
I think using database IDs throughout the codebase can be a leaky abstraction, but at the end of the day you need some way to identify models everywhere, so presumably if you have some other identifier you could use this pattern for that identifier instead.

Fundamentally, just because a User ID and UserSession ID are stored as longs in the database, does not mean they are equivalent, or should ev

[2021-12-16 03:31] #1091 closed

[2021-12-16 03:32] ipolevoy commented on #1160
ok, lets get back to the original concurrency issue. I created a new test that is supposed to create the right conditions for the conflict, but it did not happen. Are you still having such issues on Java 16 with the snapshot 3.0 ?

[2021-12-16 08:05] crummy commented on #1160
Great news - I can no longer repro the ConcurrentModificationException on `3.0-SNAPSHOT`. Is there a timeline for 3.0?

[2021-12-18 00:56] ipolevoy commented on #1090
@gaivao , can you please stop in the debugger and see the actual Java type of `expires_on` attribute before you get an exception? Please, report it here then.

[2021-12-18 01:01] ipolevoy commented on #1160
@crummy  this is good news. I'm working on #1177, just started. I want to include it into 3.0. Is there an urgency for   you to be on the fixed version? If so, I will see what I can do to release sooner.

Closing this issue, but you can continue comment here.

[2021-12-18 01:01] #1160 closed

[2021-12-18 08:36] crummy commented on #1160
No, the concurrency exception is an annoyance but we can put up with it for now. Do you expect further activejdbc changes or fixes for 3.0? Would consider moving to the snapshot version if not.

[2021-12-18 15:22] ipolevoy commented on #1160
No, working on websockets. ActiveJdbc is stable.

On Sat, Dec 18, 2021, 2:36 AM Malcolm Crum ***@***.***> wrote:

[2021-12-18 20:13] ipolevoy commented on #1176
I would not say this is a limitation, but I see your point. I generally work on projects from the start, so do not deal a ton with legacy systems. Let's consider this a stimulating discussion :)

[2021-12-19 14:31] gaivao commented on #1090
@ipolevoy as written by @marcom1981 previously, the actual Java type returned by _Model.getRaw("expires_on")_ is **java.time.LocalDateTime**, so _java.sql.Data.valueOf(rawObject)_ throw an _IllegalArgumentException_,because that data type is not accepted on valueOf function.

With version 8.0.22 of MySQL Driver, the java returned type was **java.sql.Timestamp**.

In both cases no converter was use

[2021-12-20 20:39] ipolevoy commented on #1090
@gaivao, ActiveJDBC is a Pass-Through framework: https://javalite.io/pass_through_framework#loading-attributes. In other words, it is not managing type conversions. It is a responsibility of an application developer to pick the right converter for the job. Makes sense?

[2021-12-21 03:29] anyue100 opened #1181 "I want to know when release new version for Log4j2 security vulnerability?"

[2021-12-21 03:30] anyue100 commented on #1181
Do you hava a plan for this vulnerability?

[2021-12-21 03:57] ipolevoy commented on #1181
yes, releasing shortly for Java8. What version of Java and JavaLite are you using?

[2021-12-21 06:24] #1176 closed

[2021-12-21 06:34] anyue100 commented on #1181
javalite-2.5-j8	and javalite-2.3.1-j8

[2021-12-21 10:17] gaivao commented on #1090
@ipolevoy yes makes sense, but there is a refutable point:

based on the javadoc of method org.javalite.common.Convert.toSqlDate(Object value) ActiveJDBC **also manages directly and transparently a conversion of type** and this is well done with version prior to 8.0.22 of mysql driver.

`/**
     * Expects a <code>java.sql.Date</code>, <code>java.sql.Timestamp</code>, <code>java.sql.Time</code>, <

[2021-12-22 03:10] ipolevoy commented on #1090
@gaivao,  I think I agree with you. An additional conversion will be good, why not? I see this more as an enhancement than a bug though.
There is a related task: https://github.com/javalite/javalite/issues/1119 that is in progress. There were a few commits there, but it is not complete yet.

Are you open for contributions?

[2021-12-22 03:22] ipolevoy commented on #1090
@gaivao also, keep ion mind that a conversion of any  date object with a time component to one without will loose the time part.

[2021-12-22 04:15] ipolevoy commented on #1181
A new release has been published: https://javalite.io/releases#release-2.6-j8.

[2021-12-22 04:15] #1181 closed

[2021-12-22 04:18] ipolevoy commented on #1181
@anyue100  you are strongly advised to upgrade to the latest 2.6-j8 version. Besides the obvious, such as Log4j, you will get many other upgrades - see the release notes.

[2021-12-27 08:13] gaivao commented on #1090
@ipolevoy on the activejdbc point of view, i agree, this is an enhancement and not a bug.

Also on external software mainmaintenance point of view, have same behavior with different version of libraries, is a good requirement to avoid unexpected results.

So, in my point of view the expectation is have possibility to use transparently the toDate static function also with the new datetime managemen

[2021-12-28 06:18] ipolevoy commented on #1090
@gaivao  go for it and submit a pull request (with a corresponding test). If you have any questions on how to write test, there are plenty of examples, and you can ask here of course. I hope you are not going to convert from string to an object, if I understood correctly :)
I assigned this to you for now.

[2021-12-28 12:12] gaivao commented on #1090
@ipolevoy thanks.

Only for clarify, using valueOf(String s) is the default method used in org.javalite.common.Convert class when datatype is not managed, and only for luck (or unluck depends on point of view) in current version LocalDateTime cannot convert to SqlDate o Timestamp.

So using of convertion from string to an Object is not completely wrong

[2021-12-28 13:11] bushemi opened #1182 "Commit "Avoid loading duplicate modelFile that will raise a InitException" is missing on 2.6x version from December. 3.x version doesn't contain it as well."
https://github.com/javalite/javalite/blob/8a32a5e8aa469d876c1653fa8dacda794debd169/activejdbc/src/main/java/org/javalite/activejdbc/ModelFinder.java#L57

`throw new InitException(String.format("Model '%s' already exists for database '%s'", modelName, dbName));`

this is a full commit in question: https://github.com/javalite/javalite/commit/e8b6071d1a6bf913f3867001ae430aa19fcb1073

[2021-12-28 13:15] bushemi commented on #1182
Other fixes from that file are not in the latest(2.6x) version too.

[2021-12-28 17:17] gaivao commented on #1090
@ipolevoy i've a local branch "issue_1090" with org.javalite.Convert class modified and related tests added to org.javalite.common.ConvertTest can you add me as collaborator to push the branch and make a pull request?

Thanks in advance

[2021-12-30 00:57] ipolevoy commented on #1090
@gaivao added you as a collaborator, go ahead!

[2021-12-30 01:03] ipolevoy commented on #1182
@bushemi  this is correct.  Most of the new development has moved to Java 16, while versions 2.X are focusing on Java 8. Are you experiencing a problem that this commit would resolve?

[2021-12-30 03:06] ipolevoy commented on #1182
BTW, the 3.0-SNAPSHOT does contain it.

[2021-12-30 14:55] gaivao commented on #1090
@ipolevoy thanks.

Now i'm a contributor but i can't create or push new branch to make a pull request.

Is there a different flow to make a pull request?

[2021-12-30 15:07] gaivao commented on #1090
I've resolved a SourceTree Issue, and now i've push my branch and create a pull request

I've modified org.javalite.Convert class and reorganize test methods belonging to modified parts

[2021-12-30 21:45] ammodev opened #1184 "InitException: Failed to find table"
Good Evening,

the following Issue still persists to this date. https://github.com/javalite/javalite/issues/995
It has been fixable with a kinda hacky trick, which now got fixed by the Java SecurityManager due to the fact that the "modifiers" field is not accessible anymore. https://pastebin.com/cSA89JuT

Do you have any recommendations on how to implement such a method in some kind of new way?

A

[2021-12-30 22:56] ipolevoy commented on #1184
@ammodev can you provide more information:
* Version of JavaLite
* Version of Java
* Definitions of all classes
* Stack trace
* any other pertinent info.

[2021-12-30 23:26] ipolevoy commented on #1090
@gaivao I changed the name of this issue to a more appropriate one

[2021-12-31 02:32] ipolevoy opened #1185 "Upgrade to new version of H2 broke SQL"

[2021-12-31 03:48] #1185 closed

[2021-12-31 03:51] ipolevoy commented on #1090
@gaivao , the code looks good and thanks for the tests in the same style as the rest!
The build is successful, and a 3-0-SNAPSHOT was deployed to Sonatype. Closing this.

[2021-12-31 03:51] #1090 closed

[2022-01-02 18:46] ammodev commented on #1184
ActiveJDBC: 3.0-j11
Java Version: 17

For the rest of information, you can just copy/look at the old issue which has been closed to inactivity. Alternatively I can post my definition once Im back home.

[2022-01-04 00:19] ammodev commented on #1184
I will try the latest version and come back to you with a response once tested.

[2022-01-04 12:06] peteraramaldes commented on #640
Hi @ipolevoy, I have the same problem with jsob like you mention in stackoverflow, how i can solve this? I try this:

[code]

[code]

[2022-01-04 18:04] ipolevoy commented on #640
@peteraramaldes I did some more investigations and  see that the fix can be provided in JavaLite. I'm reopening this issue.

Please, provide your Java and JavaLite version.

[2022-01-04 22:35] ipolevoy commented on #640
@peteraramaldes  I pushed a new shapshot that added a capability to detect column types and generate SQL statements with PostgreSQL type casting . The snapshot has been deployed and available for java 16 and up, version 3.0-SNAPSHOT. Can you

For your reference:
SQL is here:
https://github.com/javalite/javalite/blob/a383ce0a186d6e65b907719e6298a9a3cef4635f/activejdbc/src/test/resources/postgres_sc

[2022-01-05 09:04] gaivao commented on #1020
Hi @ipolevoy ,

I've reproduced the same issue on a race condition when more threads runs after application's initializtion. This happens two times, with different Model class.

This happens because on the same instance of Registry more threads call Model super constructor fo different classes in concurrent mode and when a modify of Registry Instance occur another thread is iterating the same obje

[2022-01-05 17:24] ipolevoy commented on #1020
@gaivao version of JavaLite and Java, please.

[2022-01-05 17:30] gaivao commented on #1020
Java : AdoptJdk - OpenJdk 14.0.2 (alpine version)
JavaLite : 2.4-j8

[2022-01-05 18:25] ipolevoy commented on #1020
@gaivao try https://github.com/javalite/javalite/releases/tag/javalite-2.6-j8 and see if the  issue persists.

[2022-01-05 19:58] yanchevsky opened #1187 "Last snapshot (04/12/2022) java.sql.SQLSyntaxErrorException"
[code]

[2022-01-06 01:48] ipolevoy commented on #1187
this was a result of an unfortunate change in dialect inheritance

[2022-01-06 01:48] #1187 closed

[2022-01-06 11:00] peteraramaldes commented on #640
- Java: 11
- JavaLite: 2.2

[2022-01-06 11:02] peteraramaldes commented on #640
I will try that in weekend and I answer here, thank you very much @ipolevoy 😄

[2022-01-07 18:47] ipolevoy opened #1189 "DBCommandListener will swallow an exception in case there is no subclass"
The  class:

https://github.com/javalite/javalite/blob/025d3ec3aa81e58e89365581312f48d433128d5c/javalite-async/src/main/java/org/javalite/async/DBCommandListener.java#L72

is supposed to be subclassed  and the `onException` method needs to be implemented. However, if this class is used in a project directly, this class will swallow execution exceptions. A minimum implementation needs to at least l

[2022-01-08 21:17] peteraramaldes commented on #640
@ipolevoy Do you have any tutorial to migrate Javalite from 2.2 to 3.0 and if possible? I had this error:

[code]

[2022-01-08 22:18] ipolevoy commented on #640
@peteraramaldes likely you have different versions of JavaLite on your classpath, there is no other way. This specific fix was done on the 3.0-SNAPSHOT. Once released,  you will get it on the version 3.0. However, this is master and all work currently is done for Java 16.

I can also cherry-pick this fix on the java8 branch and push out the snapshot v 2.7-SNAPSHOT. But... best is for you to migrat

[2022-01-10 00:58] crummy opened #1190 "3.0-SNAPSHOT: class file has wrong version 60.0, should be 55.0"
I tried upgrading from 2.3.2-j8 to 3.0-SNAPSHOT. I changed my pom versions and added the snapshot repositories. However, when I run `mvn package` I get this error:

[code]

To investigate further, I downloaded the latest 3.0-SNAPSHOT jar from here: https://oss.sonatype.org/#nexus-search;gav~org.javalite~activejdbc-instrumentation~~~~kw,versionexpand

Then I ran:

[code]

I think version 55 is Java

[2022-01-10 10:37] peteraramaldes commented on #640
@ipolevoy We can't upgrade the project to Java 16 right, we're going to spend some time we don't have right now. We are planning to do this update only in 2023.

We would be very happy if you could do this cherry-pick, I can even do it if you want (if you have other priorities), then you only evaluate the PR.

[2022-01-11 21:43] crummy commented on #1160
[code]

FYI I fixed this by adding `javalite-common` to my pom.xml, and adding this line to my `build.xml`:

[code]

[2022-01-12 03:59] ipolevoy commented on #1160
@crummy this is understandable. These classes used to be in the ActiveJDBC package, but moved to common for: javalite-common since the Validation framework became a general-purpose framework in order to implement built-in validation system for the web: https://javalite.io/processing_web_requests_with_validation.

In any case, the javalite-common contains a ton of stuff other frameworks depend on.

[2022-01-12 04:04] ipolevoy commented on #1190
@crummy 3.0-SNAPSHOTis only for Java 16. The version of JavaLite for Java 11: https://search.maven.org/artifact/org.javalite/javalite/3.0-j11/pom was released in April 2021 and did not get any new stuff back-ported to it since  it was released.

[2022-01-12 04:20] ipolevoy commented on #1190
@crummy  this is my fault, so sorry. The version 3.0-SNAPSHOT is built for Java 16. We are focusing all our efforts on it, and consider v8 and v11 "legacy". I had incorrect info on the website, but it is now fixed: https://javalite.io/releases#latest-snapshots :(

[2022-01-12 09:21] crummy commented on #1160
Thanks for the info. Our build.xml is nearly identical to the one on https://javalite.io/instrumentation under "Bare bones Ant script" - maybe that should have the commons library added to it.

[2022-01-12 09:22] crummy commented on #1190
All good. We've moved to 17 now anyway, so fine with this outcome. Thanks!

[2022-01-12 09:22] #1190 closed

[2022-01-13 18:11] ipolevoy commented on #640
@peteraramaldes I will push it out next week

[2022-01-13 18:56] peteraramaldes commented on #640
Thanks you!

[2022-01-13 20:49] ipolevoy commented on #640
need to port this to Java 8  Java 11 for backwards compatibility

[2022-01-16 17:05] ammodev commented on #1184
After big adjustments to my code the issue is now resolved. 30-SNAPSHOT didn't help whilst using it. I had to completely remove a subproject to resolve the problem. Thanks tho.

[2022-01-16 17:05] #1184 closed

[2022-01-19 00:48] jackymayo opened #1191 "Lots of repetitive prints cluttering"
Seems to repeat
Starting to get metadata from the database...
Metadata  is already processed, exiting...

Is there a way to disable this?

![Screen Shot 2022-01-18 at 7 47 15 PM](https://user-images.githubusercontent.com/12388131/150042452-797920c1-d1d8-44f4-a49e-fe871db54a6a.png)

[2022-01-19 17:46] ipolevoy commented on #1191
This was already removed from the 3.0-SNAPAHOT. Please pull the latest code and it should go away (printed at debug level).

[2022-01-24 23:47] #1191 closed

[2022-01-24 23:49] ipolevoy commented on #640
@peteraramaldes  a new shaphot 2.7-j8-SNAPSHOT was published to Sonatype today. Please, see if that works for you.

[2022-01-26 15:34] ipolevoy opened #1193 "Aggregate all JDBC connection properties for the build"
Currently, the properties are found in multiple places. Need to aggregate them in on place so we could make changes and point the build to different databases in different environments, such as Jenkins, other people's workstations, etc.

[2022-01-27 23:23] #1193 closed

[2022-01-27 23:52] #1120 closed

[2022-01-27 23:53] ipolevoy commented on #1074
Closing this because all open source databases are covered. Oracle and DB2 will have to be implemented under a different task

[2022-02-01 17:07] erioh commented on #1182
I'm facing the same issue as well after migration to 3.0-j11.
As I can see, [this](https://github.com/javalite/javalite/commit/e8b6071d1a6bf913f3867001ae430aa19fcb1073) fix is missing there, so I'm getting InitException just because `classLoader.getResources(Registry.instance().getModelFile())` return the same resource twice.
Do we have any workaround for it?

[2022-02-01 20:07] ipolevoy commented on #1182
@erioh are you using Java11?

[2022-02-01 21:05] ipolevoy commented on #1182
@erioh , there is a new snapshot 3.1-j11-SNAPSHOT deployed to Sonatype, please try are let us know

[2022-02-01 21:37] erioh commented on #1182
@ipolevoy yes, I'm using Java 11
Unfortunately, I can't use SNAPSHOT  versions due to company restrictions, but I build this version locally and for me, it works fine. :)
Is it possible to release it?

[2022-02-02 17:40] ipolevoy commented on #1160
@crummy  you are correct. Some classes move to a common module and that needs to be on the classpath
I will create a separate issue  for that

[2022-02-02 17:41] ipolevoy opened #1196 "Update Ant script example in documentation"
See: https://github.com/javalite/javalite/issues/1160#issuecomment-1010824678

[2022-02-02 23:39] ipolevoy commented on #1182
@erioh, sure we will do that within ~ a week or so. Java Version 11 is an LTS and will be "live" till 2024. However, maintaining three different JavaLite release branches is expensive. Consider Java 8 and Java 11 as bug-only versions. The current master is for Java16 and soon to be for Java 17, and this is where all new development is happening. If you want to take advantage of new features, I'd s

[2022-02-03 19:28] ipolevoy opened #1197 "Separate integration test into a different profile to increase build speed"

[2022-02-03 19:38] ipolevoy commented on #1040
WHat is left:

1. Complete the example app
2. Add documentation to the site.

[2022-02-03 19:49] #1197 closed

[2022-02-03 19:50] #1189 closed

[2022-02-10 21:10] ipolevoy commented on #1182
@erioh , getting there, did not forget about you. Working on https://github.com/javalite/javalite/issues/1040, which is a  massive task. That is completing in a couple of days, and then I will publish a release for Java 11.

[2022-02-11 18:23] ipolevoy commented on #1182
@erioh  can you test the snapshot at least in a dev or a test environment, to make sure it is working before I cut a release?

[2022-02-14 00:10] jackymayo commented on #1087
I like the proposed syntax. We have the same problem, hoping to have something like the above.

[2022-02-14 15:30] erioh commented on #1182
@ipolevoy as I don't have access to the SNAPSHOT version of activejdbc, I have built it locally from the github repository and everything seems fine for now.

[2022-02-15 16:22] ipolevoy commented on #1182
@erioh, anyone has access to snapshots, please see https://javalite.io/releases#latest-snapshots. In any case, I will be releasing JL for Java11 this week, will keep you posted.

[2022-02-18 07:37] peteraramaldes commented on #640
@ipolevoy I had some errors upgrade our Javalite version from 2.2 to 2.7-j8-SNAPSHOT. I need more time to test it.

[2022-02-18 17:40] ipolevoy commented on #1182
@erioh  the new version 3.1-j11 has been released and published to Maven Central. Feel free to switch to it. Release notes will be coming in later, good luck!

[2022-02-18 17:40] #1182 closed

[2022-02-18 22:14] ipolevoy commented on #640
@peteraramaldes are these errors related to JavaLite?

[2022-02-21 16:43] #640 closed

[2022-02-21 17:29] peteraramaldes commented on #640
Sorry I will put here the errors, i think is related to Javalite, I need more time. :(

[2022-02-21 18:42] ipolevoy commented on #640
@peteraramaldes if you think those errors are related to this issue, put them here. Otherwise, just open new ones.

[2022-02-24 04:00] #1040 closed

[2022-03-11 19:11] fontourafernando opened #1199 "Set null value on a field in existing record from a new object"
In activejdbc Model class we have this scenario:
If we try set null value on a field in an existing record from a new object (untracked situation), it will not be persistent because of the Model.willAttributeModifyModel method validation.

E.g.: in the database we have a record 1 with `description` attribute filled with "Abc".
In a scenario that we build a new Instance of the DBModel and set the d

[2022-03-13 03:36] ipolevoy commented on #1199
I'm unable to reproduce this scenario. Here is the code:

[code]

The output:
[code]

As you can see, the field `dob` is set to null and properly updated in the database.

[2022-03-14 10:10] joaopaulovbtrustly commented on #1199
Try the code below, but the case is:

- Person with ID = 1 exists;
- Person with ID = 1 has the dob field filled with any value;

Now run this code:

[code]

[2022-03-14 11:29] fontourafernando commented on #1199
Thanks @joaopaulovbtrustly! It's exactly this case.

[2022-03-14 16:49] ipolevoy commented on #1199
@joaopaulovbtrustly, I reproduced this issue. Honestly, this is a very unusual use of the API, but the results seem unexpected. I never set an ID by force. Nonetheless, I will investigate the reasons for this behavior.
What version of JavaLite are  you using?

[2022-03-14 16:55] joaopaulovbtrustly commented on #1199
Yes, we know... The behavior was changed from 2.2 to 2.3 version, the issue mentioned by @fontourafernando was the reason. We are migrating from 2.2 to 3.1-j11 and noticed this problem.

[2022-03-14 16:57] ipolevoy commented on #1199
we will be releasing a new version 3.0 soon, for Java 16 with a huge number of new features and improvements. Why not move directly to Java16?

[2022-03-14 17:14] joaopaulovbtrustly commented on #1199
I was studying the versions and didn't figured out the best choice based on my requirements.
We need on short-term goal to be able to run our app on jdk17, but keep our target in java8. Running the 3.1-j11 with jdk17 there are no problems until now (we are just using activejdbc and activeweb modules).
Unfortunately we cannot wait for 3.0 release for now but we will keep it in our radar.

Do you ha

[2022-03-14 18:41] ipolevoy commented on #1199
can you try 3.0-SNAPSHOT? It is based on Java16, but this is where the bulk of new development is now. Release is coming soon, and that will target Java 16. The next snapshot will be targeting Java17

[2022-03-14 18:53] fontourafernando commented on #1199
Hi,
Unfortunately the Java 16 is non-LTS! version. :(
Could you tell us when the next SNAPSHOT will be available?

[2022-03-14 19:49] ipolevoy commented on #1199
3.0-SNAPSHOT has been available for months. We are also planning release 3.0 for Java16 and immediately switch to Java17.

[2022-03-15 16:46] ipolevoy commented on #1199
Yes, we will release for Java16, then for Java17, which is the LTS

[2022-03-15 16:52] ipolevoy commented on #1199
@fontourafernando can you  please replace the `save()` with `saveIt()` method and see if there is a difference. Additionally, can you please provide a definition of your model class? It is possible that `save()` is not saving because the model is not passing the validation.

[2022-03-16 02:40] ipolevoy commented on #1199
@fontourafernando I found the reason for this behavior. A model will only save changed (dirty) attributes. Since the value of the
`dob` in a new model is `null`, setting it to `null` does NOT mark this attribute as dirty. Since an attribute is not dirty (changed), it is not participating in the UPDATE statement.
This feature was proposed and contributed by @rivella50, the relevant issue is: https:

[2022-03-16 11:31] fontourafernando commented on #1199
@ipolevoy We are going ahead with the Method 2. The Method 1 will give us a big overhead on database.
Is it possible that the previous behavior return using any parameter?

[2022-03-16 17:38] ipolevoy commented on #1199
@fontourafernando not sure I understand this question.

The JavaDoc is there to help:)

[2022-03-17 22:06] ipolevoy commented on #1199
@fontourafernando can you please help me with the question above? Also,  I believe I can close this issue, please confirm

[2022-03-18 02:21] #1199 closed

[2022-03-22 08:00] RicottaZhang commented on #639
Hi, I'm investigating on change code stack from Rails to Java for performance improvement;
It seems like polymorphic custom foreign key is out of consideration many years ago?

Very appreciate your work on active record like modeling approach with Java code;

Our team is working on Rails polymorphic key fashion databases, and it seems not possible to declare a polymorphic foreign key in one_to_man

[2022-03-23 02:14] ipolevoy commented on #639
@RicottaZhang  have you looked at this: https://javalite.io/polymorphic_associations ? While ActiveJDBC was inspired by RoR, it is not a clone or a code port.

[2022-03-30 20:19] ipolevoy commented on #1074
@SlyderBY  please implement a generic script to start  all DB containers or a single individual container.

The script should be able to: start/stop every DB.

The credentials are added to the ActiveJDBC pom: https://github.com/javalite/javalite/blob/81d9ae89bc5b06b80f85e36470df64308b6faddc/activejdbc/pom.xml#L59-L58  for every database (see profiles below. ).

Please, add the corresponding creden

[2022-04-13 19:39] ipolevoy opened #1203 "Upgrade Spring dependency to a new version 5.2.20"
https://github.com/javalite/javalite/security/dependabot/12

[2022-04-26 22:18] crummy opened #1207 "Java 18 Ant support"
This is not a Javalite issue, but ActiveJDBC is the only tool we use that needs Ant, and after upgrading to Java 18 I ran into this error:

[code]

I resolved the issue by adding `fork="yes"` to the `<java>` field in the `build.xml`:

		<java classname="org.javalite.instrumentation.Main" fork="yes">
			<sysproperty key="outputDirectory" value="${out.dir}" />
			<classpath refid="instrument_classpa

[2022-04-26 22:19] #1207 closed

[2022-04-27 04:02] ipolevoy commented on #1207
@crummy  you don't have to use the Ant script. JavaLite provides a maven instrumentation plugin: https://javalite.io/instrumentation#maven-instrumentation-plugin - FYI

[2022-05-07 14:01] #1203 closed

[2022-05-20 19:57] ipolevoy opened #1208 "Http: add ability to send in a body with the HTTP GET request"

[2022-05-23 19:57] ipolevoy opened #1209 "Add convenience methods to JSONHelper: jsonString("name", "value", ....)"
to quickly produce a JSON object from a map attributes and values

[2022-05-23 21:15] #1209 closed

[2022-05-25 00:01] ipolevoy commented on #1208
As sad as it might be, but the old HttpURLConnection implementation hardcodes the POST request in case you want to submit a body for a request EVEN if you explicitly set it to GET. The best course of things is to move the JavaLite HTTP to a new HTTP client API available since Java 11.

[2022-05-25 00:01] #1208 closed

[2022-05-25 03:39] ipolevoy opened #1210 "Implement a convenience constructor: JSONMap(String ... namesAndValues)"

[2022-05-25 03:45] #1210 closed

[2022-05-25 03:47] ipolevoy opened #1211 "Implement Model.toJSON() method with no parameters"

[2022-05-25 03:51] #1211 closed

[2022-06-17 14:31] #1143 closed, assigned to ipolevoy

[2022-06-17 14:31] ipolevoy opened #1213 "Implement ability to override AppConfig properties by environment variables"

[2022-06-20 16:27] biatenia opened #1214 "getArray() model method is missing in activeJdbc models"
some SQL databases like Oracle or PostgreSQL support arrays as a field type, JDBC also supports that, using java.sql.Array,
https://docs.oracle.com/javase/tutorial/jdbc/basics/array.html

So, it would be great if ActiveJdbc can provide support to work with arrays in Models, instead of tricking manipulation with
**_Object get("field_name")_**

[2022-06-20 16:30] biatenia commented on #1214
table example:

CREATE TABLE IF NOT EXISTS public.distribution_searches
(
    distributor_ids integer[],
    product_line_id bigint NOT NULL,
    CONSTRAINT distribution_searches_pkey PRIMARY KEY (product_line_id),
    CONSTRAINT fk_rails_f7115231de FOREIGN KEY (product_line_id)
        REFERENCES public.product_lines (id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
)

WIT

[2022-06-20 16:51] ipolevoy opened #1215 "Migrate the JavaLite HTTP client to a new Java HTTP API"

[2022-06-21 20:03] #1214 closed

[2022-06-23 20:42] ipolevoy opened #1218 "Provide an example of DB migrations in Groovy"

[2022-06-28 16:32] ipolevoy opened #1219 "Convert.toLocaldate(java.sql.Date) generates UnsupportedOperationException"

[2022-06-28 16:37] #1219 closed

[2022-08-04 14:05] m1n1m opened #1220 "unable to pass return field set to method toMaps()"
`User.findAll().toMaps()` will return all fields.
Could you please overload method with list of fields to return?

public List<Map<String, Object>> toMaps(String... attrs) {

}

[2022-08-04 14:11] m1n1m commented on #1220
Method Model.toMap() also doesn't have this feature

[2022-08-04 14:16] konstantsin123 opened #1221 "mvn db-migrator:drop should not throw error if database does not exist"
Now: mvn db-migrator:create throw an error if database already present.

Expected: mvn db-migrator:create throw a warning if database already present.

[2022-08-04 14:35] ipolevoy commented on #1220
@m1n1m actually, the `Model.toMap(String..attributes)` does exist: https://github.com/javalite/javalite/blob/3243e532e7a7deab8fa6cc6c7d18493c13ca1a90/activejdbc/src/main/java/org/javalite/activejdbc/Model.java#L855

[2022-08-04 14:42] ipolevoy commented on #1220
@m1n1m   if this method  is implemented  as you request, it will bring ambiguity to the  API. Let me explain:

Lets say  you write this:
[code]

Since we are including the Address model into the query, it is not clear if the attribute `name` is related to the User or the Address model. As such, there is an ambiguity of the API.
I think this is the main reason why this method was not implemented be

[2022-08-04 18:02] ipolevoy commented on #1221
Changing this to:

Now:

   mvn db-migrator:drop

throws an error if a database does not exist. If the Drop mojo just prints a warning, it will be easier to use it in scripts.

[2022-08-04 18:06] #1221 closed

[2022-08-04 18:08] ipolevoy commented on #1221
deployed to Sonatype with version: 3.0-SNAPSHOT

[2022-08-16 16:21] ipolevoy opened #1224 "AW Mate plugin does not account for controllers that have a @RESTful annotation"
If a controller  is specified with a `@RESTful` annotation:

[code]

the plugin lists the route with a GET method, but should list a POST:

[code]

According to the `@Restful` annotation, the `create` method should be listed with the @POST annotation.

[2022-08-22 13:26] ipolevoy commented on #1213
Add docs to the site

[2022-08-29 22:08] ipolevoy opened #1225 "When a record is created that relates to models in a ManyToMany relationship, the join table has created_at and updated_at columns blank"
It would be nice to have them filled out just like any other tables.

[2022-08-29 22:42] ipolevoy opened #1226 "Idea: implement getters and setters using the Annotation Processing"
here is a good writeup for this:
http://hannesdorfmann.com/annotation-processing/annotationprocessing101/

Lombok takes a full advantage of this feature.

[2022-08-30 02:13] ipolevoy commented on #1226
while we are at this, maybe we can slide instrumentation there as well?

[2022-09-06 22:25] davy-claisse commented on #1103
Hi @ipolevoy

Sorry for the very long delay to answer you (is there any way to send you private messages ?)

Beside that, and in order to solve our problem, I tried to build the master branch but unfortunately one unit test failed:
[code]

I guess some prerequisites are required now that I don't have.

Here my build configuration.
[code]

How can I build ActiveJDBC on my computer ? Should I setup

[2022-09-07 08:15] ipolevoy commented on #1103
@davy-claisse , feel free to connect with me on Linkedin: https://www.linkedin.com/in/ipolevoy/.

The current JavaLite version  is 3.0-SNAPSHOT and builds on Java 16, see: https://javalite.io/releases.

hope this helps. I will be releasing version 3.0 soon, and then will move to Java 17 - FYI.

[2022-09-15 13:42] eugeneRover opened #1229 "Add regexp flags to RegexpValidator"
Currently, RegexpValidator does not give a possibility to set regexp flags ([hardcoded case-insensitive](https://github.com/javalite/javalite/blob/master/javalite-common/src/main/java/org/javalite/validation/RegexpValidator.java#L30))

It would be great if `flags` parameter exists in `RegexpValidator` constructor, e.g.
[code]

[2022-09-15 20:05] ipolevoy commented on #1229
@eugeneRover  this is done, you can pull the latest 3.0-SNAPSHOT. You might want to blow away your caches.

[2022-09-15 20:05] #1229 closed

[2022-09-18 12:48] space88man opened #1231 "Strange date conversion Exception in Convert.java with newer mysql connector J >= 8.0.23"
With mysql-connector-java 8.0.[23-30] I am seeing an exeception  in Convert.java
retrieving a DATETIME(3). Version is activejdbc version 3.1-j11.

[code]

The target db is MySQL 8 and this works correctly if the connector is 8.0.22

It looks like the time part is not being parsed off from the DATETIME value returned by the connector.
The COLUMN-type is indeed `DATETIME(3)`.
Perhaps, with the newer

[2022-09-18 23:44] space88man commented on #1231
Sorry for the noise; there was a Date Timestamp mismatch in the code; this is a latent bug that only surfaced with newer connectors.

[2022-09-18 23:44] #1231 closed

[2022-09-19 01:35] space88man opened #1232 "RFE: handle the 'T' separator from mysql connector in timestamps"
Newer version of the MySQL connector (8.0.25+) don't return JDBC escape format from, say, a DATETIME(3) column - the format is  '2022-09-18T11:22:33.123' which is what you see if  you use `Model.getString()`.

RFE: let the time conversion methods `Model.getTimestamp()` handle this; ATM there is an exception thrown due to the unexpected 'T" separator.

[2022-09-19 14:49] ipolevoy commented on #1232
@space88man  is this related to: https://github.com/javalite/javalite/issues/1231 ?

Also, is this a suggestion or a bug? If this is a bug, please also include versions of everything, Java, JavaLite, database.

[2022-09-20 18:00] eugeneRover opened #1233 "DBConfiguration.getTestConnectionConfigs is not static"
Method [DBConfiguration.getTestConnectionConfigs](https://github.com/javalite/javalite/blob/master/activejdbc/src/main/java/org/javalite/activejdbc/connection_config/DBConfiguration.java#L244) is single not static method in the class, while others are all static.
There is no reason for it to be instance-method, since it uses only static members/methods.
Even more, the class is assumed to be utils

[2022-09-27 17:34] ipolevoy opened #1234 "Implement ability to access AppContext from any ActiveWeb location"
sometimes there is a need to access Injector and other objects from other servlet classes,  such as SessionListner, in order  to cleanup resources when a session ends (just one example). In a situation like that, it is useful to get access to an instance of an Injector and its services.

Proposal:
Make `AppContext` static and available anywhere in the application without to have to pass it around.

[2022-09-27 22:52] #1234 closed

[2022-09-29 11:23] eugeneRover opened #1236 "Make NumericValidator locale-independent"
[NumericValidator](https://github.com/javalite/javalite/blob/master/javalite-common/src/main/java/org/javalite/validation/NumericValidator.java) now offers single constructor - [NumericValidator(String attribute)](https://github.com/javalite/javalite/blob/master/javalite-common/src/main/java/org/javalite/validation/NumericValidator.java#L35), and contains [hardcoded locale-dependent NumberFormat](

[2022-09-30 21:20] yanchevsky opened #1237 "Fix generic's in AbstractAppControllerConfig"
We have notices of code style issues in some IDEs.

[2022-09-30 23:18] ipolevoy commented on #1224
Snapshot deployed

[2022-09-30 23:19] ipolevoy commented on #1237
snapshot deployed, thank you

[2022-09-30 23:19] #1237 closed

[2022-10-04 19:40] ipolevoy opened #1239 "ActiveWeb: Add a convenience method for working with request headers"
[code]

[2022-10-05 19:40] ipolevoy commented on #1225
maybe we need to support just created_at, since updates to a join table make little sense

[2022-10-05 19:44] ipolevoy commented on #1220
closing this as not required

[2022-10-05 19:44] #1220 closed

[2022-10-05 19:48] ipolevoy commented on #1146
@yanchevsky can you please check that the documentation  is up to date: https://javalite.io/runtime_discovery#static-metadata-generation

[2022-10-10 17:00] ipolevoy commented on #901
New location: https://github.com/javalite/javalite-examples/blob/master/kitchensink/src/main/webapp/js/aw.js

[2022-10-10 20:06] ipolevoy opened #1241 "ActiveJDBC: a converter should trigger on the set("attribute", value) call"
currently, it  only saves a converted value to a table.

[2022-10-10 20:08] #1241 closed

[2022-10-13 17:34] ipolevoy opened #1242 "ActiveJDBC: Review the architecture for converters"
It seems to have a few flaws:

1. The Model.set(attr) method calls a Model.get(attr), which is not semantically correct
2. The converters are called inside the `get(attr)` as well as inside the `set(attr)`
3. This is not working, but we'd expect this world: model.set("created_at", "10/11/2022");
4. The Converted API is obtuse with too much to implement by a framework user. Needs to be simplified.

[2022-10-13 17:37] ipolevoy commented on #1242
related  issue: https://github.com/javalite/javalite/issues/1241

[2022-10-17 04:42] eugeneRover opened #1243 "Add ability to completely customize routing logic for a route"
The RouteConfig has all the logic for standard, custom and restful routes. However, sometimes you need something completely different, specific for a project.

I'm trying to implement custom routing behaviour, one that is not possible with standard built-in wildcards and segments.
For that purpose, I'm extending activeweb [RouteBuilder](https://github.com/javalite/javalite/blob/master/activeweb/sr

[2022-10-17 17:56] ipolevoy commented on #1243
deployed the snapshot

[2022-10-17 17:56] #1243 closed

[2022-10-19 02:05] ZeyuLiu12 opened #1245 "Is javalite-2.6-j8 affected by the vulnerability of Apache Commons Text?"
A vulnerability was found in Apache Commons Text recently, javalite-2.6-j8 contains passive dependencies commons-text 1.8
Is javalite-2.6-j8 affected by that?
Details could be found in: https://seclists.org/oss-sec/2022/q4/22
https://github.com/advisories/GHSA-599f-7c49-w659: Apache Commons Text prior to 1.10.0 allows RCE when applied to untrusted input due to insecure interpolation defaults
Thank

[2022-10-19 16:06] ipolevoy commented on #1245
@ZeyuLiu12 unfortunately upgrading to artemis-server 2.6.0 (Latest) did not solve the issue:

[code]

as you  can see,  `org.apache.commons:commons-configuration2:jar:2.8.0:compile` pulls` org.apache.commons:commons-text:jar:1.9:compile` as a dependency. The `artemis-server` v 2.6 is the latest available. This means that the bug needs to be reported there: https://activemq.apache.org/issues

@Zeyu

[2022-10-24 07:28] ZeyuLiu12 commented on #1245
Okay, thank you very much.

[2022-10-24 07:29] ZeyuLiu12 commented on #1245
@ipolevoy okay, thank you very much.

[2022-10-24 16:33] ipolevoy opened #1247 "Remove implementation of XStream from the system as not secure"
See: https://github.com/javalite/javalite/security/dependabot/20

[2022-10-24 16:34] ipolevoy commented on #1247
XStream Denial of Service due to parser crash #20
 Open Opened last month on com.thoughtworks.xstream:xstream (Maven) · [javalite-async/pom.xml](https://github.com/javalite/javalite/blob/-/javalite-async/pom.xml)
Package
Affected versions
Patched version
com.thoughtworks.xstream:xstream
(Maven)
<= 1.5.0
None
Those using XStream to seralize XML data may be vulnerable to Denial of Service attacks (D

[2022-10-24 16:50] Dieken commented on #1242
I just did some dirty hack to make ActiveJDBC can accept an encrypted object for query parameters and return encrypted object too from result set.

[code]

[2022-10-24 16:57] ipolevoy commented on #1162
Related #901

[2022-10-24 17:11] Dieken commented on #1242
Possible converter interface:

[code]

[2022-10-24 19:35] ipolevoy commented on #1242
@Dieken, thanks  for the idea, but I have a much simpler implementation for what you are doing here. I will publish a blog article on the topic sometime this week, and share it with you.

[2022-10-26 00:21] ipolevoy opened #1248 "Improve generics for JSONList and JSONMap classes"
![Selection_466](https://user-images.githubusercontent.com/500941/197905687-db3664de-4a9c-400b-97c3-38bb11ee58e8.png)

[2022-11-09 02:17] ipolevoy commented on #1247
@yanchevsky  this is almost there, but one test is still not working. Serialization works, but de-serialization of a model is having an issue. Can you please look at org.javalite.async.AsyncSpec#shouldSendModelData ?

tx

[2022-11-10 11:56] Dieken opened #1249 "Upgrade vulnerable log4j"
https://github.com/javalite/javalite/blob/javalite-3.1-j11/pom.xml

The master branch has upgraded to latest log4j-2.17.1, could you release 3.1-j12 to bump log4j?

[2022-11-10 19:31] ipolevoy commented on #1249
the new version should be  3.2-j11, since j11 implies Java 11. We will look into it, thank you